In [1]:
# Basic import
import os
import sys
import json
import math
import shutil
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Helper function
def writeProgress(msg, count, total):
    sys.stdout.write(msg + "{:.2%}\r".format(count/total))
    sys.stdout.flush()
    
def newPath(path):
    if not os.path.isdir(path):
        os.mkdir(path)

def read_json(src_path):
    with open(src_path, 'r') as json_file:
        data = json.load(json_file)
    return data

def write_json(data,dst_path):
    with open(dst_path, 'w') as outfile:
        json.dump(data, outfile)

def writeLog(row):
    with open('log.txt', 'a') as outfile:
        outfile.write(row + '\n')

def getErrMsg(e):
    error_class = e.__class__.__name__ #取得錯誤類型
    detail = e.args[0] #取得詳細內容
    errMsg = "[{}] {}".format(error_class, detail)
    return errMsg

In [3]:
DATA_DIR = './'
pro_dir = os.path.join(DATA_DIR, 'pro_sg_colduser')
dmf_dir = os.path.join(DATA_DIR, 'DMF_data_colduser')
if not os.path.exists(pro_dir):
    os.makedirs(pro_dir)
if not os.path.exists(dmf_dir):
    os.makedirs(dmf_dir)

# Load numpy array

In [4]:
all_npy = np.load('./npy/all_2372.npy')
movie_genre = np.load('./npy/movie_genre.npy')
usr_following = np.load('./npy/user_followings.npy')
usr_genre = np.load('./npy/user_genre.npy')

print('All features:', all_npy.shape)
print('Movie genre:', movie_genre.shape)
print('User following:', usr_following.shape)
print('User genre:', usr_genre.shape)

All features: (165, 2372)
Movie genre: (165, 20)
User following: (1582, 165)
User genre: (1582, 20)

In [5]:
usr_nb = len(usr_following) # the number of users
movie_nb = len(movie_genre)  # the number of movies
print(usr_nb, movie_nb)

# usr_test_amount = 150
# movie_test_amount = 32
# print(usr_test_amount, movie_test_amount)

latent_dim = 64 # latent dims
ft_dim = all_npy.shape[1] # feature dims
embedding_dims = 240
print(latent_dim, ft_dim, embedding_dims)

1582 165
64 2372 240

# Training & testing split

## Prepare

In [6]:
#The number of following movie for each user
each_user = np.sum(usr_following, axis=1)
# print(each_user)

print('Min number of followings:', np.min(each_user))
print('Max number of followings:', np.max(each_user))
print('Avg of followers:', np.mean(each_user))

asc = np.sort(each_user)
# print(each_user)
# print(asc)
desc = np.flip(asc)
# print(desc)

Min number of followings: 10
Max number of followings: 133
Avg of followers: 14.820480404551201

### User

In [7]:
test_idx = [13, 61, 64, 72, 77, 109, 115, 118, 142, 162, 173, 180, 185, 201, 203, 226, 235, 238, 242, 256, 267, 270, 296, 301, 342, 386, 389, 402, 428, 434, 445, 446, 454, 456, 479, 543, 558, 593, 597, 603, 609, 621, 625, 627, 634, 646, 649, 658, 693, 700, 750, 753, 754, 760, 762, 768, 787, 798, 825, 835, 900, 902, 923, 958, 966, 979, 1014, 1023, 1029, 1030, 1037, 1048, 1072, 1074, 1076, 1079, 1091, 1123, 1133, 1137, 1196, 1202, 1203, 1219, 1277, 1288, 1302, 1303, 1311, 1327, 1399, 1413, 1437, 1449, 1510, 1520, 1526, 1544, 1565, 1580]
print(len(test_idx), test_idx[:10]) # 100 [13, 61, 64, 72, 77, 109, 115, 118, 142, 162]

100 [13, 61, 64, 72, 77, 109, 115, 118, 142, 162]

In [8]:
usr_test_amount = len(test_idx)
movie_test_amount = 32 #len(st)
print(usr_test_amount, movie_test_amount)

100 32

In [12]:
user = []
movie = []

for i in test_idx:
    for j in range(movie_nb):
        if usr_following[i][j] == 1:
            # build df
            user.append(test_idx.index(i))
            movie.append(j)

In [13]:
df = pd.DataFrame(data={'userId': user, 'movieId': movie})
df

      userId  movieId
0          0        1
1          0       12
2          0       13
3          0       21
4          0       22
...      ...      ...
1133      99       84
1134      99       85
1135      99       86
1136      99      120
1137      99      134

[1138 rows x 2 columns]

In [14]:
df.to_csv(os.path.join(pro_dir, 'UserFollowingRecord.csv'), index = 0)

In [15]:
unique_sid = pd.unique(df['movieId'])
unique_sid.shape

(152,)

In [10]:
random.seed(42)

In [11]:
train_idx = sorted(random.sample(usr_idx, int(usr_test_amount*0.5)))
print(len(train_idx), train_idx[:10])

50 [13, 64, 72, 77, 109, 115, 180, 201, 203, 235]

In [12]:
vad_idx = sorted(random.sample(train_idx, int(len(train_idx)*0.2)))
print(len(vad_idx), vad_idx[:10])

10 [115, 201, 434, 649, 753, 1048, 1079, 1123, 1203, 1277]

In [13]:
train_idx = [item for item in train_idx if item not in vad_idx]
print(len(train_idx), train_idx[:10])

40 [13, 64, 72, 77, 109, 180, 203, 235, 238, 256]

### splitting

# For VAE & RaCT
## Setup

In [17]:
# init
train_uid = []
train_sid = []
vad_uid = []
vad_sid = []
test_uid = []
test_sid = []

for i in range(usr_nb):
    if i in train_idx:
        for j in range(movie_nb):
            if usr_following[i][j] == 1:
                train_uid.append(i)
                train_sid.append(j)
                
    elif i in vad_idx:
        for j in range(movie_nb):
            if usr_following[i][j] == 1:
                vad_uid.append(i)
                vad_sid.append(j)
                
    elif i in test_idx:
        for j in range(movie_nb):
            if usr_following[i][j] == 1:
                test_uid.append(i)
                test_sid.append(j)

In [18]:
print(len(train_uid), len(train_sid))
print(len(vad_uid), len(vad_sid))
print(len(test_uid), len(test_sid))

468 468
115 115
555 555

In [19]:
train = pd.DataFrame(data={'uid': train_uid, 'sid': train_sid}, columns=['uid', 'sid'])
train

      uid  sid
0      13    1
1      13   12
2      13   13
3      13   21
4      13   22
..    ...  ...
463  1580   84
464  1580   85
465  1580   86
466  1580  120
467  1580  134

[468 rows x 2 columns]

In [20]:
vad = pd.DataFrame(data={'uid': vad_uid, 'sid': vad_sid}, columns=['uid', 'sid'])
vad

      uid  sid
0     115    0
1     115   21
2     115   28
3     115   45
4     115   58
..    ...  ...
110  1277  102
111  1277  118
112  1277  129
113  1277  134
114  1277  142

[115 rows x 2 columns]

In [21]:
test = pd.DataFrame(data={'uid': test_uid, 'sid': test_sid}, columns=['uid', 'sid'])
test

      uid  sid
0      61    9
1      61   24
2      61   25
3      61   55
4      61   98
..    ...  ...
550  1565   46
551  1565   57
552  1565   85
553  1565  102
554  1565  125

[555 rows x 2 columns]

In [35]:
unique_uid = np.concatenate((pd.unique(train['uid']), pd.unique(vad['uid']), pd.unique(test['uid'])), axis=0)
print(unique_uid.shape)
unique_uid

(100,)

array([  13,   64,   72,   77,  109,  180,  203,  235,  238,  256,  267,
        296,  342,  386,  402,  428,  446,  543,  597,  627,  760,  762,
        798,  825,  923,  966, 1023, 1029, 1030, 1137, 1202, 1302, 1311,
       1327, 1399, 1449, 1510, 1520, 1544, 1580,  115,  201,  434,  649,
        753, 1048, 1079, 1123, 1203, 1277,   61,  118,  142,  162,  173,
        185,  226,  242,  270,  301,  389,  445,  454,  456,  479,  558,
        593,  603,  609,  621,  625,  634,  646,  658,  693,  700,  750,
        754,  768,  787,  835,  900,  902,  958,  979, 1014, 1037, 1072,
       1074, 1076, 1091, 1133, 1196, 1219, 1288, 1303, 1413, 1437, 1526,
       1565])

In [41]:
allsid = train['sid'].append(vad['sid'], ignore_index=True).append(test['sid'], ignore_index=True)
allsid

0         1
1        12
2        13
3        21
4        22
       ...
1133     46
1134     57
1135     85
1136    102
1137    125
Name: sid, Length: 1138, dtype: int64

In [47]:
unique_sid = pd.unique(allsid)
with open(os.path.join(pro_dir, 'unique_sid.txt'), 'w') as f:
    for sid in unique_sid:
        f.write('%s\n' % sid)
print(unique_sid.shape)
unique_sid

(152,)

array([  1,  12,  13,  21,  22,  37,  50,  64,  66,  87,  93,  99, 141,
       147, 158,   2,  58,  74,  80,  81,  86, 127, 129, 157, 161, 164,
        24,  25,  29,  48,  77,  83,  90, 104, 143,   0,  26,  27,  45,
        53,  57,  72, 144, 149, 152,   4,   8,  70,  98, 103, 137, 146,
        34,  76, 119, 122,  44,  68,  91, 108, 121, 132, 151,   9,  28,
        79,  84, 154, 156, 101, 138, 125, 126, 134, 150,  15,  62, 107,
        49,  75,  89,  95, 133, 159,  10,  88, 131, 142, 162, 102,   3,
        36, 114, 118, 120, 128,  82, 111,  40,  19,  23,  56, 106, 145,
        52,  18,  30,  55, 163,   5,  60, 112,  31,  17,  54,  92,  33,
        46,  78,  42,  47,  11, 123,  32,  96,  38, 115,  63,  67, 110,
        85,  14,  51,  59, 124, 160, 105, 117, 100, 153,  20,  39, 135,
        71,  94, 148, 155,  43,  73, 109, 139,  41])

In [48]:
show2id = dict((sid, i) for (i, sid) in enumerate(unique_sid))
profile2id = dict((pid, i) for (i, pid) in enumerate(unique_uid))

In [49]:
print(len(unique_sid), len(unique_uid))
print(len(show2id), len(profile2id))

152 100
152 100

In [50]:
def split_train_test_proportion(data, test_prop=0.2):
    data_grouped_by_user = data.groupby('uid')
    tr_list, te_list = list(), list()

    np.random.seed(98765)

    for i, (_, group) in enumerate(data_grouped_by_user):
        n_items_u = len(group)

        if n_items_u >= 5:
            idx = np.zeros(n_items_u, dtype='bool')
            idx[np.random.choice(n_items_u, size=int(test_prop * n_items_u), replace=False).astype('int64')] = True

            tr_list.append(group[np.logical_not(idx)])
            te_list.append(group[idx])
        else:
            tr_list.append(group)

        if i % 100 == 0:
            print("%d users sampled" % i)
            sys.stdout.flush()

    data_tr = pd.concat(tr_list)
    data_te = pd.concat(te_list)
    
    return data_tr, data_te

In [51]:
vad_plays_tr, vad_plays_te = split_train_test_proportion(vad)
print(vad_plays_tr.shape, vad_plays_te.shape)

0 users sampled
(95, 2) (20, 2)

In [52]:
test_plays_tr, test_plays_te = split_train_test_proportion(test)
print(test_plays_tr.shape, test_plays_te.shape)

0 users sampled
(454, 2) (101, 2)

In [53]:
def numerize(tp):
    uid = list(map(lambda x: profile2id[x], tp['uid']))
    sid = list(map(lambda x: show2id[x], tp['sid']))
    return pd.DataFrame(data={'uid': uid, 'sid': sid}, columns=['uid', 'sid'])

In [54]:
train_data = numerize(train)
train_data.to_csv(os.path.join(pro_dir, 'train.csv'), index=False)
vad_data_tr = numerize(vad_plays_tr)
vad_data_tr.to_csv(os.path.join(pro_dir, 'validation_tr.csv'), index=False)
vad_data_te = numerize(vad_plays_te)
vad_data_te.to_csv(os.path.join(pro_dir, 'validation_te.csv'), index=False)
test_data_tr = numerize(test_plays_tr)
test_data_tr.to_csv(os.path.join(pro_dir, 'test_tr.csv'), index=False)
test_data_te = numerize(test_plays_te)
test_data_te.to_csv(os.path.join(pro_dir, 'test_te.csv'), index=False)

# For DMF

## Chilli

In [14]:
user = []
movie = []
score = []
time = []

for i in test_idx:
    for j in range(movie_nb):
        if usr_following[i][j] == 1:
            # build df
#             print(i, test_idx.index(i), j)
            user.append(test_idx.index(i))
            movie.append(j)
            score.append(1)
#             timestamp = ''.join(str(n) for n in random.sample(range(0,9),9))
#             time.append(timestamp)

13 0 1
13 0 12
13 0 13
13 0 21
13 0 22
13 0 37
13 0 50
13 0 64
13 0 66
13 0 87
13 0 93
13 0 99
13 0 141
13 0 147
13 0 158
61 1 9
61 1 24
61 1 25
61 1 55
61 1 98
61 1 100
61 1 108
61 1 117
61 1 118
61 1 134
61 1 142
64 2 2
64 2 58
64 2 74
64 2 80
64 2 81
64 2 86
64 2 127
64 2 129
64 2 157
64 2 161
64 2 164
72 3 2
72 3 24
72 3 25
72 3 29
72 3 48
72 3 77
72 3 83
72 3 90
72 3 104
72 3 143
77 4 0
77 4 26
77 4 27
77 4 45
77 4 53
77 4 57
77 4 72
77 4 129
77 4 144
77 4 149
77 4 152
109 5 4
109 5 8
109 5 24
109 5 64
109 5 70
109 5 72
109 5 86
109 5 98
109 5 103
109 5 137
109 5 146
115 6 0
115 6 21
115 6 28
115 6 45
115 6 58
115 6 67
115 6 68
115 6 86
115 6 112
115 6 125
118 7 0
118 7 3
118 7 45
118 7 50
118 7 85
118 7 114
118 7 117
118 7 124
118 7 143
118 7 153
118 7 158
142 8 10
142 8 70
142 8 72
142 8 85
142 8 88
142 8 95
142 8 99
142 8 101
142 8 111
142 8 117
142 8 141
142 8 161
162 9 28
162 9 66
162 9 87
162 9 99
162 9 103
162 9 112
162 9 119
162 9 122
162 9 137
162 9 147
173 10 2
173 10 4
173 10 20
173 10 48
173 10 70
173 10 76
173 10 81
173 10 83
173 10 90
173 10 98
173 10 100
173 10 108
173 10 138
180 11 12
180 11 22
180 11 24
180 11 34
180 11 37
180 11 66
180 11 76
180 11 87
180 11 99
180 11 119
180 11 122
185 12 40
185 12 79
185 12 80
185 12 84
185 12 85
185 12 96
185 12 126
185 12 131
185 12 156
185 12 161
201 13 14
201 13 19
201 13 24
201 13 25
201 13 51
201 13 59
201 13 81
201 13 85
201 13 88
201 13 96
201 13 107
201 13 124
201 13 137
203 14 44
203 14 68
203 14 91
203 14 103
203 14 108
203 14 121
203 14 132
203 14 144
203 14 151
203 14 164
226 15 2
226 15 23
226 15 39
226 15 44
226 15 55
226 15 68
226 15 91
226 15 104
226 15 111
226 15 135
226 15 150
226 15 164
235 16 4
235 16 9
235 16 28
235 16 44
235 16 58
235 16 79
235 16 80
235 16 81
235 16 84
235 16 144
235 16 152
235 16 154
235 16 156
235 16 161
238 17 9
238 17 24
238 17 53
238 17 66
238 17 74
238 17 84
238 17 101
238 17 104
238 17 129
238 17 138
238 17 143
242 18 2
242 18 20
242 18 48
242 18 59
242 18 83
242 18 86
242 18 88
242 18 98
242 18 143
242 18 156
242 18 161
256 19 4
256 19 9
256 19 12
256 19 25
256 19 44
256 19 68
256 19 87
256 19 125
256 19 126
256 19 134
256 19 144
256 19 150
267 20 0
267 20 15
267 20 57
267 20 66
267 20 90
267 20 99
267 20 101
267 20 134
267 20 161
267 20 164
270 21 32
270 21 42
270 21 71
270 21 83
270 21 86
270 21 94
270 21 101
270 21 129
270 21 145
270 21 146
296 22 2
296 22 50
296 22 62
296 22 66
296 22 99
296 22 107
296 22 125
296 22 137
296 22 144
296 22 149
296 22 156
301 23 2
301 23 9
301 23 28
301 23 36
301 23 44
301 23 53
301 23 68
301 23 87
301 23 112
301 23 118
342 24 49
342 24 64
342 24 75
342 24 89
342 24 95
342 24 98
342 24 101
342 24 119
342 24 133
342 24 150
342 24 159
386 25 2
386 25 10
386 25 44
386 25 45
386 25 57
386 25 88
386 25 107
386 25 125
386 25 131
386 25 142
386 25 162
389 26 10
389 26 21
389 26 27
389 26 57
389 26 85
389 26 93
389 26 111
389 26 147
389 26 149
389 26 156
389 26 158
402 27 57
402 27 68
402 27 80
402 27 86
402 27 102
402 27 126
402 27 127
402 27 129
402 27 152
402 27 161
402 27 164
428 28 3
428 28 21
428 28 36
428 28 68
428 28 93
428 28 101
428 28 102
428 28 114
428 28 118
428 28 120
428 28 128
428 28 131
428 28 134
428 28 144
428 28 159
434 29 44
434 29 49
434 29 58
434 29 60
434 29 66
434 29 87
434 29 112
434 29 123
434 29 134
434 29 156
434 29 161
445 30 4
445 30 5
445 30 30
445 30 75
445 30 77
445 30 84
445 30 119
445 30 133
445 30 135
445 30 148
445 30 150
446 31 34
446 31 44
446 31 82
446 31 103
446 31 111
446 31 119
446 31 120
446 31 131
446 31 138
446 31 146
446 31 147
446 31 156
454 32 12
454 32 17
454 32 42
454 32 49
454 32 56
454 32 72
454 32 84
454 32 87
454 32 106
454 32 122
454 32 150
454 32 159
456 33 18
456 33 30
456 33 44
456 33 58
456 33 60
456 33 68
456 33 80
456 33 108
456 33 126
456 33 129
479 34 0
479 34 4
479 34 9
479 34 40
479 34 52
479 34 57
479 34 68
479 34 70
479 34 80
479 34 152
479 34 155
543 35 9
543 35 40
543 35 75
543 35 102
543 35 114
543 35 126
543 35 129
543 35 134
543 35 144
543 35 151
543 35 159
543 35 161
543 35 164
558 36 4
558 36 10
558 36 18
558 36 52
558 36 78
558 36 86
558 36 108
558 36 127
558 36 129
558 36 134
558 36 142
558 36 144
558 36 161
593 37 44
593 37 50
593 37 58
593 37 66
593 37 68
593 37 75
593 37 77
593 37 112
593 37 119
593 37 122
597 38 4
597 38 25
597 38 44
597 38 58
597 38 68
597 38 80
597 38 86
597 38 156
597 38 161
597 38 164
603 39 3
603 39 9
603 39 30
603 39 40
603 39 43
603 39 68
603 39 78
603 39 87
603 39 134
603 39 161
609 40 9
609 40 18
609 40 28
609 40 34
609 40 60
609 40 68
609 40 87
609 40 112
609 40 122
609 40 156
621 41 9
621 41 24
621 41 44
621 41 70
621 41 81
621 41 124
621 41 125
621 41 129
621 41 149
621 41 153
625 42 10
625 42 53
625 42 68
625 42 80
625 42 86
625 42 106
625 42 118
625 42 131
625 42 134
625 42 161
625 42 164
627 43 19
627 43 23
627 43 25
627 43 56
627 43 75
627 43 79
627 43 87
627 43 88
627 43 106
627 43 111
627 43 132
627 43 137
627 43 145
634 44 19
634 44 31
634 44 36
634 44 73
634 44 85
634 44 106
634 44 109
634 44 124
634 44 125
634 44 159
646 45 40
646 45 44
646 45 72
646 45 80
646 45 85
646 45 100
646 45 120
646 45 134
646 45 139
646 45 142
646 45 156
649 46 28
649 46 34
649 46 58
649 46 62
649 46 79
649 46 81
649 46 83
649 46 86
649 46 91
649 46 119
649 46 160
658 47 32
658 47 42
658 47 44
658 47 49
658 47 92
658 47 94
658 47 98
658 47 129
658 47 151
658 47 156
693 48 3
693 48 9
693 48 30
693 48 40
693 48 41
693 48 47
693 48 77
693 48 93
693 48 106
693 48 123
693 48 129
693 48 159
700 49 25
700 49 28
700 49 34
700 49 58
700 49 68
700 49 79
700 49 86
700 49 103
700 49 122
700 49 137
700 49 156
700 49 163
750 50 18
750 50 28
750 50 34
750 50 68
750 50 79
750 50 102
750 50 127
750 50 128
750 50 129
750 50 144
750 50 156
750 50 161
750 50 164
753 51 33
753 51 75
753 51 81
753 51 86
753 51 101
753 51 125
753 51 126
753 51 127
753 51 156
753 51 164
754 52 0
754 52 10
754 52 21
754 52 34
754 52 57
754 52 102
754 52 105
754 52 111
754 52 114
754 52 118
754 52 131
754 52 134
760 53 9
760 53 40
760 53 44
760 53 52
760 53 57
760 53 66
760 53 84
760 53 102
760 53 118
760 53 152
760 53 161
762 54 12
762 54 18
762 54 30
762 54 44
762 54 52
762 54 58
762 54 121
762 54 127
762 54 129
762 54 161
768 55 21
768 55 23
768 55 24
768 55 37
768 55 85
768 55 89
768 55 95
768 55 98
768 55 102
768 55 104
768 55 107
768 55 114
768 55 120
787 56 3
787 56 34
787 56 52
787 56 80
787 56 84
787 56 114
787 56 121
787 56 129
787 56 131
787 56 161
798 57 34
798 57 44
798 57 55
798 57 62
798 57 80
798 57 81
798 57 91
798 57 128
798 57 129
798 57 154
798 57 156
798 57 163
825 58 1
825 58 5
825 58 18
825 58 30
825 58 34
825 58 58
825 58 60
825 58 66
825 58 81
825 58 112
825 58 127
825 58 129
825 58 134
825 58 144
825 58 147
835 59 2
835 59 32
835 59 34
835 59 43
835 59 79
835 59 83
835 59 84
835 59 101
835 59 107
835 59 108
835 59 121
835 59 163
835 59 164
900 60 3
900 60 22
900 60 33
900 60 43
900 60 84
900 60 102
900 60 112
900 60 126
900 60 127
900 60 147
902 61 0
902 61 9
902 61 49
902 61 68
902 61 74
902 61 78
902 61 102
902 61 128
902 61 134
902 61 152
923 62 5
923 62 12
923 62 30
923 62 31
923 62 68
923 62 87
923 62 112
923 62 141
923 62 156
923 62 159
958 63 9
958 63 40
958 63 44
958 63 53
958 63 58
958 63 66
958 63 68
958 63 81
958 63 101
958 63 118
958 63 122
958 63 126
958 63 144
958 63 164
966 64 5
966 64 12
966 64 17
966 64 49
966 64 50
966 64 54
966 64 58
966 64 108
966 64 156
966 64 161
979 65 5
979 65 17
979 65 30
979 65 49
979 65 53
979 65 62
979 65 89
979 65 110
979 65 114
979 65 126
979 65 127
979 65 129
979 65 149
979 65 161
1014 66 12
1014 66 34
1014 66 55
1014 66 62
1014 66 78
1014 66 79
1014 66 112
1014 66 122
1014 66 137
1014 66 141
1014 66 164
1023 67 9
1023 67 30
1023 67 52
1023 67 68
1023 67 82
1023 67 84
1023 67 86
1023 67 92
1023 67 101
1023 67 104
1023 67 118
1023 67 134
1029 68 21
1029 68 22
1029 68 30
1029 68 33
1029 68 46
1029 68 57
1029 68 66
1029 68 76
1029 68 87
1029 68 112
1029 68 122
1029 68 154
1029 68 156
1029 68 158
1030 69 9
1030 69 12
1030 69 28
1030 69 34
1030 69 60
1030 69 66
1030 69 78
1030 69 80
1030 69 84
1030 69 87
1030 69 102
1030 69 144
1037 70 0
1037 70 3
1037 70 18
1037 70 33
1037 70 41
1037 70 57
1037 70 63
1037 70 75
1037 70 102
1037 70 128
1048 71 30
1048 71 55
1048 71 58
1048 71 68
1048 71 80
1048 71 108
1048 71 129
1048 71 156
1048 71 161
1048 71 164
1072 72 2
1072 72 44
1072 72 103
1072 72 106
1072 72 112
1072 72 121
1072 72 122
1072 72 147
1072 72 156
1072 72 164
1074 73 0
1074 73 18
1074 73 24
1074 73 52
1074 73 57
1074 73 86
1074 73 87
1074 73 92
1074 73 94
1074 73 123
1074 73 127
1074 73 128
1076 74 9
1076 74 20
1076 74 40
1076 74 55
1076 74 66
1076 74 81
1076 74 100
1076 74 126
1076 74 127
1076 74 156
1079 75 3
1079 75 5
1079 75 9
1079 75 49
1079 75 101
1079 75 105
1079 75 112
1079 75 114
1079 75 126
1079 75 144
1079 75 151
1079 75 159
1079 75 161
1091 76 9
1091 76 30
1091 76 40
1091 76 60
1091 76 68
1091 76 74
1091 76 78
1091 76 127
1091 76 129
1091 76 161
1123 77 53
1123 77 58
1123 77 62
1123 77 68
1123 77 80
1123 77 91
1123 77 102
1123 77 114
1123 77 122
1123 77 131
1123 77 137
1123 77 156
1123 77 164
1133 78 2
1133 78 34
1133 78 53
1133 78 68
1133 78 79
1133 78 121
1133 78 122
1133 78 129
1133 78 163
1133 78 164
1137 79 12
1137 79 18
1137 79 42
1137 79 47
1137 79 66
1137 79 87
1137 79 99
1137 79 112
1137 79 122
1137 79 126
1137 79 144
1137 79 156
1196 80 0
1196 80 2
1196 80 4
1196 80 44
1196 80 55
1196 80 86
1196 80 91
1196 80 121
1196 80 129
1196 80 163
1202 81 3
1202 81 11
1202 81 40
1202 81 42
1202 81 47
1202 81 62
1202 81 87
1202 81 92
1202 81 123
1202 81 126
1202 81 129
1202 81 151
1203 82 10
1203 82 12
1203 82 21
1203 82 27
1203 82 34
1203 82 46
1203 82 80
1203 82 82
1203 82 108
1203 82 117
1203 82 119
1203 82 143
1203 82 147
1203 82 156
1219 83 5
1219 83 11
1219 83 13
1219 83 30
1219 83 34
1219 83 43
1219 83 57
1219 83 66
1219 83 86
1219 83 102
1219 83 134
1277 84 23
1277 84 58
1277 84 62
1277 84 68
1277 84 80
1277 84 102
1277 84 118
1277 84 129
1277 84 134
1277 84 142
1288 85 22
1288 85 37
1288 85 44
1288 85 50
1288 85 58
1288 85 66
1288 85 87
1288 85 89
1288 85 112
1288 85 119
1302 86 27
1302 86 30
1302 86 40
1302 86 68
1302 86 74
1302 86 78
1302 86 126
1302 86 127
1302 86 144
1302 86 161
1303 87 12
1303 87 22
1303 87 28
1303 87 37
1303 87 44
1303 87 46
1303 87 50
1303 87 58
1303 87 66
1303 87 87
1303 87 99
1303 87 112
1303 87 122
1303 87 156
1303 87 164
1311 88 22
1311 88 28
1311 88 30
1311 88 58
1311 88 60
1311 88 62
1311 88 64
1311 88 68
1311 88 87
1311 88 99
1311 88 119
1311 88 122
1311 88 141
1311 88 156
1311 88 161
1327 89 12
1327 89 32
1327 89 58
1327 89 68
1327 89 79
1327 89 80
1327 89 87
1327 89 112
1327 89 118
1327 89 121
1327 89 122
1327 89 134
1327 89 156
1327 89 164
1399 90 5
1399 90 13
1399 90 26
1399 90 28
1399 90 60
1399 90 80
1399 90 99
1399 90 106
1399 90 126
1399 90 159
1413 91 1
1413 91 10
1413 91 28
1413 91 34
1413 91 60
1413 91 66
1413 91 80
1413 91 112
1413 91 122
1413 91 129
1413 91 134
1437 92 9
1437 92 12
1437 92 30
1437 92 49
1437 92 58
1437 92 87
1437 92 102
1437 92 126
1437 92 134
1437 92 156
1449 93 36
1449 93 40
1449 93 80
1449 93 86
1449 93 96
1449 93 118
1449 93 127
1449 93 128
1449 93 134
1449 93 144
1449 93 161
1449 93 163
1449 93 164
1510 94 0
1510 94 11
1510 94 30
1510 94 38
1510 94 58
1510 94 78
1510 94 86
1510 94 102
1510 94 115
1510 94 126
1520 95 9
1520 95 28
1520 95 30
1520 95 34
1520 95 45
1520 95 58
1520 95 68
1520 95 79
1520 95 112
1520 95 125
1520 95 129
1520 95 134
1520 95 161
1526 96 12
1526 96 33
1526 96 40
1526 96 43
1526 96 57
1526 96 60
1526 96 68
1526 96 80
1526 96 87
1526 96 102
1526 96 126
1526 96 161
1544 97 0
1544 97 21
1544 97 27
1544 97 45
1544 97 57
1544 97 62
1544 97 63
1544 97 67
1544 97 110
1544 97 143
1565 98 0
1565 98 21
1565 98 27
1565 98 37
1565 98 45
1565 98 46
1565 98 57
1565 98 85
1565 98 102
1565 98 125
1580 99 2
1580 99 24
1580 99 44
1580 99 67
1580 99 81
1580 99 84
1580 99 85
1580 99 86
1580 99 120
1580 99 134

In [12]:
df = pd.DataFrame(data={'user': user, 'items': movie, 'ratings': score})
#                   columns=['user', 'movie', 'score', 'time'])
df

      user  items  ratings
0        0      1        1
1        0     12        1
2        0     13        1
3        0     21        1
4        0     22        1
...    ...    ...      ...
1133    99     84        1
1134    99     85        1
1135    99     86        1
1136    99    120        1
1137    99    134        1

[1138 rows x 3 columns]

In [15]:
df.to_csv(os.path.join(dmf_dir, 'myratings_cuser.dat')) #, header=None, index=None, sep=':')

## all

In [ ]:
user = []
movie = []
score = []
time = []
train = []
test = []

for i in range(usr_nb):
    for j in range(movie_nb):
        if usr_following[i][j] == 1:
            if i in test_idx:
                test.append((i, j, 1))
            else:
                train.append((i, j, 1))
            
            # build df
            timestamp = ''.join(str(n) for n in random.sample(range(0,9),9))
            user.append(i+1)
            movie.append(j+1)
            score.append(1)
            time.append(timestamp)
#         else:
#             user.append(i+1)
#             movie.append(j+1)
#             score.append(0)
#             time.append(timestamp)

In [ ]:
write_json(test, os.path.join(dmf_dir, 'test.json'))
write_json(train, os.path.join(dmf_dir, 'train.json'))
print(len(test), len(train))

In [ ]:
df = pd.DataFrame(data={'user': user, 'movie': movie, 'score': score, 'time': time})
#                   columns=['user', 'movie', 'score', 'time'])
df

In [ ]:
df.to_csv(os.path.join(dmf_dir, 'DMF_data.dat'), header=None, index=None, sep=':')

# Original split

In [ ]:
# init
train_t = []
train_f = []
test_t = []
test_f = []

for i in range(usr_nb):
    # init
    t_for_train = []
    f_for_train = []
    t_for_test = []
    f_for_test = []
    
    if i not in test_idx: #if not in test id, just append it to true or false list
        for j in range(movie_nb):
            if usr_following[i][j] == 1:
                t_for_train.append((i, j, 1))
            else:
                f_for_train.append((i, j, 0))
                
        train_t.extend(t_for_train)
        train_f.extend(f_for_train)
#         print(len(t_for_train) + len(f_for_train))
        
    else: #if in test id, choose half of true and other 
        temp_t = []
        temp_f = []
        
        for j in range(movie_nb):
            if usr_following[i][j] == 1:
                temp_t.append((i, j, 1))
            else:
                temp_f.append((i, j, 0))
        
        # random choose half true and half false for test 
        t_for_test = random.sample(temp_t, math.ceil(0.5*len(temp_t)))
        f_for_test  = random.sample(temp_f, movie_test_amount-len(t_for_test))
        
        test_t.extend(t_for_test)
        test_f.extend(f_for_test)
        
        #the others for training
        t_for_train = [item for item in temp_t if not item in t_for_test]
        f_for_train = [item for item in temp_f if not item in f_for_test]
        train_t.extend(t_for_train)
        train_f.extend(f_for_train)
        
    if not (len(t_for_train) + len(f_for_train) + len(t_for_test) + len(f_for_test)) == movie_nb:
        print('Error!!!')
        break

In [ ]:
print('The length of train_t:',len(train_t))
print('The length of train_f:',len(train_f))
print('The length of test_t:',len(test_t))
print('The length of test_f:',len(test_f))

In [ ]:
train = train_t
test = test_t
write_json(test, './DMF_data/test.json')
write_json(train, './DMF_data/train.json')
print(len(test), len(train))