In [1]:
# Basic import
import os
import sys
import json
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Helper function
def writeProgress(msg, count, total):
    sys.stdout.write(msg + "{:.2%}\r".format(count/total))
    sys.stdout.flush()
    
def newPath(path):
    if not os.path.isdir(path):
        os.mkdir(path)

def read_json(src_path):
    with open(src_path, 'r') as json_file:
        data = json.load(json_file)
    return data

def write_json(data,dst_path):
    with open(dst_path, 'w') as outfile:
        json.dump(data, outfile)

def writeLog(row):
    with open('log.txt', 'a') as outfile:
        outfile.write(row + '\n')

def getErrMsg(e):
    error_class = e.__class__.__name__ #取得錯誤類型
    detail = e.args[0] #取得詳細內容
    errMsg = "[{}] {}".format(error_class, detail)
    return errMsg

In [19]:
df = pd.read_csv('./csv/train_label_2018_filtered.csv')
df

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1316,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
1317,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1318,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1319,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [20]:
param = pd.read_csv('./csv/computed_minmaxnorm_2018_filtered.csv')
param

,Movie,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,tt0328810,74.324324,77.632556,7.429596e+06,6.754840e+06,0.336424,0.335943,8309.913009,4659.362101
1,tt10005184,128.111111,168.813141,1.056263e+06,2.578889e+06,0.099732,0.170803,5180.699115,2028.150559
2,tt10017502,31.970588,14.597512,3.220428e+06,6.070315e+06,0.268349,0.325218,3663.755048,2106.268326
3,tt10043732,41.670732,28.350616,5.971663e+06,1.710160e+07,0.315923,0.330436,4184.885640,3340.768941
4,tt10048096,28.480000,27.728859,1.167823e+07,2.226350e+07,0.296425,0.314294,4229.213104,2424.473662
...,...,...,...,...,...,...,...,...,...
1315,tt9866700,140.034483,81.652114,1.034090e+06,2.018781e+06,0.115961,0.170274,5452.573097,3761.139541
1316,tt9879080,83.636364,51.821850,1.771188e+06,2.408702e+06,0.058649,0.080815,1852.817936,1417.178866
1317,tt9891764,32.716981,19.979119,7.569638e+06,1.308621e+07,0.243142,0.287351,4391.310240,2942.670602
1318,tt9904014,108.547619,73.594838,3.773972e+05,6.156485e+05,0.339983,0.243896,2960.448579,2322.644041
1319,tt9908448,599.000000,337.718818,4.631820e+04,5.876937e+04,0.323718,0.228877,2760.667444,662.911244

In [21]:
result = pd.concat([df, param], axis=1, sort=False)
result = result.set_index('Movie')
result

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt0328810,0,0,0,0,0,0,0,1,1,0,...,0,0,74.324324,77.632556,7.429596e+06,6.754840e+06,0.336424,0.335943,8309.913009,4659.362101
tt10005184,0,1,0,0,0,0,0,0,0,0,...,0,0,128.111111,168.813141,1.056263e+06,2.578889e+06,0.099732,0.170803,5180.699115,2028.150559
tt10017502,0,0,0,0,0,0,0,1,0,0,...,0,0,31.970588,14.597512,3.220428e+06,6.070315e+06,0.268349,0.325218,3663.755048,2106.268326
tt10043732,0,0,0,1,0,0,0,1,0,0,...,0,0,41.670732,28.350616,5.971663e+06,1.710160e+07,0.315923,0.330436,4184.885640,3340.768941
tt10048096,0,0,0,0,0,0,0,1,0,1,...,0,0,28.480000,27.728859,1.167823e+07,2.226350e+07,0.296425,0.314294,4229.213104,2424.473662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9866700,0,0,0,0,0,0,0,0,0,0,...,0,0,140.034483,81.652114,1.034090e+06,2.018781e+06,0.115961,0.170274,5452.573097,3761.139541
tt9879080,0,0,0,0,0,0,1,0,0,0,...,0,0,83.636364,51.821850,1.771188e+06,2.408702e+06,0.058649,0.080815,1852.817936,1417.178866
tt9891764,0,0,0,0,0,0,1,0,0,0,...,0,0,32.716981,19.979119,7.569638e+06,1.308621e+07,0.243142,0.287351,4391.310240,2942.670602
tt9904014,0,0,0,0,0,0,0,0,0,0,...,1,0,108.547619,73.594838,3.773972e+05,6.156485e+05,0.339983,0.243896,2960.448579,2322.644041
tt9908448,0,0,0,0,0,0,0,1,0,1,...,0,0,599.000000,337.718818,4.631820e+04,5.876937e+04,0.323718,0.228877,2760.667444,662.911244

In [22]:
gs = result.columns[0:20].tolist()
gs

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [36]:
from IPython.display import display
stat = pd.DataFrame()

for g in gs:
    print(g)
    stat = stat.append([g], ignore_index=True)
    
    newdf = result.loc[result[g] == 1]
    display(newdf)
    newdf = newdf.iloc[:, 20:]
    
    newdf.to_csv('./csv/param/params_' + g + '.csv')
    
    mini = newdf.min()
    maxi = newdf.max()
    avg = newdf.mean()
    std = newdf.std()
#     print(mini, maxi, avg, std)
    
    stat = stat.append(mini, ignore_index=True)
    stat = stat.append(maxi, ignore_index=True)
    stat = stat.append(avg, ignore_index=True)
    stat = stat.append(std, ignore_index=True)
    display(stat)
    
stat.to_csv('./csv/param/stat.csv')

Action

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10379122,1,0,0,0,0,0,0,0,0,0,...,0,0,109.047619,67.177431,1.351166e+07,2.685147e+07,0.445078,0.335927,5441.499505,4853.955429
tt10450770,1,0,0,0,0,0,0,1,0,0,...,0,0,29.701754,20.641438,1.103192e+07,1.640370e+07,0.294108,0.306255,5639.429974,3036.289151
tt10465998,1,0,0,0,0,1,0,1,0,0,...,0,0,35.417476,23.195884,1.720789e+06,2.958388e+06,0.355078,0.309862,4773.479475,2899.421112
tt10505100,1,1,0,0,0,0,0,1,0,0,...,1,0,26.157303,28.588478,1.729968e+06,8.465334e+06,0.302386,0.300653,4690.466916,3944.044189
tt10675920,1,1,0,0,0,0,0,0,0,0,...,0,0,40.682927,68.622665,5.272103e+07,1.435017e+08,0.281982,0.262777,4348.521304,2944.608947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9517188,1,1,1,0,0,0,0,0,0,0,...,0,0,42.835294,30.971656,5.201682e+07,1.114926e+08,0.447504,0.355335,5328.804180,2578.401911
tt9534772,1,0,0,0,0,0,0,0,0,0,...,0,0,55.705128,111.231810,4.799977e+08,7.598956e+08,0.390535,0.314528,7337.827133,3163.091631
tt9670284,1,1,0,0,0,0,0,0,0,0,...,0,0,49.171429,37.661641,2.348687e+05,7.035756e+05,0.346679,0.299096,3331.435875,2569.114163
tt9737258,1,0,1,0,0,0,0,0,0,1,...,0,0,32.933333,34.987744,4.077764e+07,6.825014e+07,0.286480,0.324978,7232.804245,4246.913678
tt9812530,1,0,0,0,0,0,0,0,0,0,...,0,0,40.125000,29.562804,2.459844e+06,4.092555e+06,0.429125,0.267233,4144.670509,2150.072376

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318

Adventure

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10005184,0,1,0,0,0,0,0,0,0,0,...,0,0,128.111111,168.813141,1.056263e+06,2.578889e+06,0.099732,0.170803,5180.699115,2028.150559
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,50.435897,49.143325,3.035781e+07,6.411460e+07,0.350184,0.297793,6235.588053,3338.317184
tt10178206,0,1,0,0,0,0,0,0,0,0,...,0,0,100.266667,76.162808,1.571449e+05,5.801532e+05,0.056414,0.075460,1368.821693,1850.536792
tt10505100,1,1,0,0,0,0,0,1,0,0,...,1,0,26.157303,28.588478,1.729968e+06,8.465334e+06,0.302386,0.300653,4690.466916,3944.044189
tt10675920,1,1,0,0,0,0,0,0,0,0,...,0,0,40.682927,68.622665,5.272103e+07,1.435017e+08,0.281982,0.262777,4348.521304,2944.608947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9517188,1,1,1,0,0,0,0,0,0,0,...,0,0,42.835294,30.971656,5.201682e+07,1.114926e+08,0.447504,0.355335,5328.804180,2578.401911
tt9547790,0,1,0,0,0,0,1,0,0,0,...,0,0,37.504274,59.672844,2.455901e+08,6.707648e+08,0.473350,0.294048,6423.860489,2814.243614
tt9580316,0,1,0,0,0,0,1,0,1,0,...,0,0,100.321429,92.925106,3.902105e+07,7.310128e+07,0.235364,0.279990,6920.222678,3181.752891
tt9670284,1,1,0,0,0,0,0,0,0,0,...,0,0,49.171429,37.661641,2.348687e+05,7.035756e+05,0.346679,0.299096,3331.435875,2569.114163
tt9828698,0,1,0,0,0,0,0,0,0,0,...,0,0,78.463768,104.489037,2.187748e+07,5.483578e+07,0.201962,0.233480,6171.027098,2514.242857

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054

Animation

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10059624,0,0,1,0,0,0,0,0,0,0,...,0,0,69.642857,93.340396,3.172002e+07,4.067614e+07,0.290059,0.288288,7731.561262,2196.564904
tt10837312,0,0,1,0,0,0,0,0,0,0,...,0,0,58.607143,101.460762,6.023270e+07,1.007121e+08,0.367579,0.332397,6323.899280,4559.893044
tt1842422,0,0,1,0,0,0,0,0,0,1,...,0,0,79.434343,84.961092,9.417842e+07,2.772399e+08,0.209808,0.210584,5787.519840,3362.110585
tt3076510,0,0,1,0,1,0,0,0,0,0,...,0,0,35.040000,31.652779,5.106861e+07,9.709057e+07,0.319661,0.299600,5129.982554,3253.387251
tt4177856,0,0,1,0,0,0,0,0,1,0,...,0,0,38.772152,30.090559,1.392037e+08,2.185004e+08,0.277663,0.293166,8054.196767,3866.027771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9591836,0,0,1,0,0,0,0,0,0,0,...,0,0,64.268293,53.935383,8.613206e+07,1.780713e+08,0.466598,0.266114,6945.564587,3347.684578
tt9625242,0,0,1,0,0,0,0,0,0,0,...,0,0,43.000000,52.498472,4.598537e+07,8.954414e+07,0.365869,0.342109,4701.423693,2778.008905
tt9630184,0,0,1,0,0,0,0,0,0,0,...,0,0,105.931034,111.267596,6.865938e+08,9.458463e+08,0.528914,0.354203,5818.067962,4330.427964
tt9647330,0,0,1,0,0,1,0,1,0,0,...,0,0,35.126984,26.217341,2.004740e+07,7.267791e+07,0.293329,0.301497,7086.848027,2870.809988
tt9737258,1,0,1,0,0,0,0,0,0,1,...,0,0,32.933333,34.987744,4.077764e+07,6.825014e+07,0.286480,0.324978,7232.804245,4246.913678

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538

Biography

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10043732,0,0,0,1,0,0,0,1,0,0,...,0,0,41.670732,28.350616,5.971663e+06,1.710160e+07,0.315923,0.330436,4184.885640,3340.768941
tt10116528,0,0,0,1,0,0,0,0,0,0,...,0,0,132.357143,99.453225,2.780285e+06,4.707618e+06,0.204148,0.194428,3903.822371,2354.606719
tt10182822,0,0,0,1,0,0,0,1,0,0,...,0,0,32.182609,19.331246,3.792557e+07,2.799804e+08,0.180207,0.282035,4524.210957,3295.444987
tt1226837,0,0,0,1,0,0,0,1,0,0,...,0,0,40.758242,33.819606,1.861468e+06,4.990377e+06,0.088599,0.131922,3833.431607,2345.593638
tt1727824,0,0,0,1,0,0,0,1,0,0,...,0,0,34.009434,26.959262,3.853335e+06,1.683249e+07,0.256041,0.259875,2857.789966,2049.084522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9716970,0,0,0,1,0,0,1,1,0,0,...,0,0,55.830189,67.149716,3.911385e+08,2.062041e+09,0.282833,0.253159,5889.092410,3724.725712
tt9726500,0,0,0,1,0,0,1,0,1,0,...,0,0,246.181818,132.446091,2.844038e+05,4.600066e+05,0.200427,0.273791,2664.758148,4482.705753
tt9752158,0,0,0,1,0,0,0,1,0,0,...,0,0,80.833333,42.544421,1.482028e+06,2.540781e+06,0.182051,0.227870,2147.987695,1741.093708
tt9767986,0,0,0,1,0,0,1,0,0,0,...,0,0,43.074468,33.943394,2.962128e+07,5.557596e+07,0.320404,0.282091,5852.445953,2965.384091
tt9782778,0,0,0,1,0,0,1,0,0,0,...,0,0,123.937500,66.727027,4.892367e+06,9.772327e+06,0.206077,0.210649,3480.508165,2574.857908

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749

Comedy

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,50.435897,49.143325,3.035781e+07,6.411460e+07,0.350184,0.297793,6235.588053,3338.317184
tt10550990,0,0,0,0,1,0,0,1,0,0,...,0,0,34.921053,39.311876,7.785232e+06,1.147720e+07,0.269699,0.319558,3420.281337,2314.638056
tt1255919,0,0,0,0,1,1,0,0,0,0,...,0,0,38.351648,32.304313,8.594421e+05,1.618656e+06,0.168755,0.212638,2739.267814,1665.208793
tt1319706,0,0,0,0,1,0,0,1,1,0,...,0,0,85.666667,117.745219,1.260381e+07,1.371736e+07,0.460839,0.193279,7023.839085,2260.649588
tt2570500,0,1,0,0,1,0,0,1,0,0,...,0,0,72.000000,52.344054,4.993665e+05,7.904843e+05,0.218695,0.243078,5578.029104,2880.504782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9609886,0,0,0,0,1,0,0,0,0,0,...,0,0,35.698113,22.856884,6.091466e+07,2.899305e+08,0.245861,0.287311,6594.404403,3494.988334
tt9615856,0,0,0,1,1,0,0,0,0,0,...,0,0,67.852941,38.843678,3.792652e+06,5.214194e+06,0.206537,0.208547,4197.374472,2206.177908
tt9702912,0,0,0,0,1,0,0,0,0,0,...,0,0,71.653846,68.631649,3.101680e+06,7.237516e+06,0.187771,0.185170,2050.534408,2306.345631
tt9716728,0,0,0,0,1,0,0,0,0,0,...,0,0,33.476190,26.397004,1.954129e+07,4.965676e+07,0.286445,0.297614,3499.511518,2139.783548
tt9826798,0,0,0,0,1,0,1,1,0,0,...,0,0,88.776316,38.056951,8.068066e+07,9.427666e+07,0.233152,0.253689,6743.346570,2150.893143

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898

Crime

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10212512,0,0,0,0,0,1,0,0,0,0,...,0,0,30.671642,20.387579,4.499705e+06,2.200000e+07,0.196869,0.249766,2643.426495,2708.808622
tt10465998,1,0,0,0,0,1,0,1,0,0,...,0,0,35.417476,23.195884,1.720789e+06,2.958388e+06,0.355078,0.309862,4773.479475,2899.421112
tt1255919,0,0,0,0,1,1,0,0,0,0,...,0,0,38.351648,32.304313,8.594421e+05,1.618656e+06,0.168755,0.212638,2739.267814,1665.208793
tt1759744,0,0,0,1,0,1,0,1,0,0,...,0,0,39.337079,32.300535,2.798576e+06,9.434325e+06,0.244937,0.289024,3675.655337,3041.639263
tt2647424,0,0,0,0,0,1,0,1,0,0,...,0,0,48.260870,48.446041,1.566703e+07,2.776195e+07,0.204977,0.228663,4596.521111,2516.214618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9447662,1,0,0,0,0,1,0,0,0,0,...,0,0,37.178947,25.546234,2.736169e+07,4.184601e+07,0.286292,0.292168,4996.126759,2830.122305
tt9450410,0,0,0,0,0,1,1,0,0,0,...,0,0,41.444444,43.321309,1.226187e+06,4.733875e+06,0.235136,0.290048,1953.639009,2072.460335
tt9641092,0,0,0,0,0,1,0,1,0,0,...,0,0,43.865385,52.715867,6.308080e+06,3.577384e+07,0.214483,0.186561,3507.705768,1547.385849
tt9647330,0,0,1,0,0,1,0,1,0,0,...,0,0,35.126984,26.217341,2.004740e+07,7.267791e+07,0.293329,0.301497,7086.848027,2870.809988
tt9816364,0,0,0,0,0,1,1,1,0,0,...,0,0,106.225000,60.591867,4.918975e+05,1.141242e+06,0.297269,0.381017,4774.833150,3860.763981

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882

Documentary

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt9363072,0,0,0,0,0,0,1,0,1,0,...,0,0,51.500000,52.968107,4.322083e+07,1.606824e+08,0.375913,0.300830,6521.509876,3748.500796
tt9363466,0,0,0,0,0,0,1,0,0,0,...,0,0,209.785714,210.701610,6.513058e+06,1.236468e+07,0.202599,0.262626,4401.263683,3306.662107
tt9374320,0,0,0,1,0,0,1,0,0,0,...,0,0,39.069767,27.643827,3.062699e+06,1.013762e+07,0.184388,0.229583,2956.981642,2343.408609
tt9375212,0,0,0,0,0,0,1,0,0,0,...,0,0,164.625000,80.573627,1.490059e+06,3.540046e+06,0.179480,0.231592,6184.614330,2284.487204
tt9377262,0,0,0,0,0,0,1,0,0,0,...,0,0,72.200000,53.119165,6.978785e+02,2.012700e+03,0.330248,0.328931,6574.494712,3855.463711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9826830,0,0,0,0,0,0,1,0,0,0,...,0,0,53.067568,44.131968,1.296457e+06,3.778195e+06,0.309450,0.302198,2314.535706,2329.673778
tt9839624,0,0,0,0,0,0,1,0,0,0,...,0,0,84.750000,101.930167,1.632238e+06,3.620226e+06,0.236320,0.229066,3088.297960,1862.654623
tt9848240,0,0,0,0,0,0,1,0,0,0,...,0,0,38.946903,29.636990,2.305478e+06,3.756865e+06,0.237703,0.248584,3466.619076,1616.889028
tt9879080,0,0,0,0,0,0,1,0,0,0,...,0,0,83.636364,51.821850,1.771188e+06,2.408702e+06,0.058649,0.080815,1852.817936,1417.178866
tt9891764,0,0,0,0,0,0,1,0,0,0,...,0,0,32.716981,19.979119,7.569638e+06,1.308621e+07,0.243142,0.287351,4391.310240,2942.670602

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,30.831579,16.371991,8.612265e+01,1.213134e+02,0.058649,0.080815,903.731356,619.513721
32,NaN,1117.600000,918.542454,3.911385e+08,2.062041e+09,0.473350,0.381433,8585.558942,4482.705753
33,NaN,93.862874,79.763304,2.340235e+07,6.324236e+07,0.253057,0.259864,4427.889491,2644.017787
34,NaN,145.818500,122.259651,5.478787e+07,2.435085e+08,0.085482,0.055004,1764.856830,788.008393

Drama

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt0328810,0,0,0,0,0,0,0,1,1,0,...,0,0,74.324324,77.632556,7.429596e+06,6.754840e+06,0.336424,0.335943,8309.913009,4659.362101
tt10017502,0,0,0,0,0,0,0,1,0,0,...,0,0,31.970588,14.597512,3.220428e+06,6.070315e+06,0.268349,0.325218,3663.755048,2106.268326
tt10043732,0,0,0,1,0,0,0,1,0,0,...,0,0,41.670732,28.350616,5.971663e+06,1.710160e+07,0.315923,0.330436,4184.885640,3340.768941
tt10048096,0,0,0,0,0,0,0,1,0,1,...,0,0,28.480000,27.728859,1.167823e+07,2.226350e+07,0.296425,0.314294,4229.213104,2424.473662
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,50.435897,49.143325,3.035781e+07,6.411460e+07,0.350184,0.297793,6235.588053,3338.317184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9816364,0,0,0,0,0,1,1,1,0,0,...,0,0,106.225000,60.591867,4.918975e+05,1.141242e+06,0.297269,0.381017,4774.833150,3860.763981
tt9818154,0,0,0,0,0,0,0,1,0,0,...,0,0,67.642857,41.892050,7.893139e+06,1.185300e+07,0.365815,0.301265,6862.704188,4722.731657
tt9826798,0,0,0,0,1,0,1,1,0,0,...,0,0,88.776316,38.056951,8.068066e+07,9.427666e+07,0.233152,0.253689,6743.346570,2150.893143
tt9829092,0,0,0,0,0,0,0,1,0,0,...,0,0,35.771739,51.015791,1.440490e+07,7.090227e+07,0.309962,0.293208,5000.277474,3066.180600
tt9908448,0,0,0,0,0,0,0,1,0,1,...,0,0,599.000000,337.718818,4.631820e+04,5.876937e+04,0.323718,0.228877,2760.667444,662.911244

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,30.831579,16.371991,8.612265e+01,1.213134e+02,0.058649,0.080815,903.731356,619.513721
32,NaN,1117.600000,918.542454,3.911385e+08,2.062041e+09,0.473350,0.381433,8585.558942,4482.705753
33,NaN,93.862874,79.763304,2.340235e+07,6.324236e+07,0.253057,0.259864,4427.889491,2644.017787
34,NaN,145.818500,122.259651,5.478787e+07,2.435085e+08,0.085482,0.055004,1764.856830,788.008393
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,23.333333,10.804318,9.385124e-05,9.385124e-05,0.029433,0.049375,221.393091,358.188272
37,NaN,1085.428571,1798.835803,3.911385e+08,2.062041e+09,0.754928,0.395896,10402.061792,5270.377930
38,NaN,66.194140,62.963057,1.770675e+07,4.533132e+07,0.258746,0.262246,4164.657888,2657.687792
39,NaN,81.607561,99.525457,4.057906e+07,1.476256e+08,0.104549,0.060228,1615.572475,707.241803

Family

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt0328810,0,0,0,0,0,0,0,1,1,0,...,0,0,74.324324,77.632556,7.429596e+06,6.754840e+06,0.336424,0.335943,8309.913009,4659.362101
tt1319706,0,0,0,0,1,0,0,1,1,0,...,0,0,85.666667,117.745219,1.260381e+07,1.371736e+07,0.460839,0.193279,7023.839085,2260.649588
tt2319991,0,0,0,0,0,0,0,1,1,0,...,0,0,36.621053,25.923035,7.615215e+06,2.790092e+07,0.449660,0.301768,3795.243281,2256.349530
tt2728784,0,0,0,0,0,0,0,1,1,0,...,0,0,33.492308,25.544003,4.271520e+06,2.692649e+07,0.150899,0.212020,2799.313812,2378.127072
tt2990140,0,1,0,0,1,0,0,0,1,0,...,0,0,34.737288,33.763240,1.369689e+06,4.225555e+06,0.207771,0.257430,1930.673604,1275.025102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9543936,0,0,0,0,0,0,0,0,1,0,...,0,0,82.875000,59.110569,1.182031e+06,1.461828e+06,0.140307,0.204330,3503.674335,1890.066346
tt9580316,0,1,0,0,0,0,1,0,1,0,...,0,0,100.321429,92.925106,3.902105e+07,7.310128e+07,0.235364,0.279990,6920.222678,3181.752891
tt9642920,0,0,0,0,0,0,0,1,1,0,...,0,0,41.670732,28.350616,5.971663e+06,1.710160e+07,0.315923,0.330436,4184.885640,3340.768941
tt9658782,0,0,0,0,0,0,0,0,1,0,...,0,0,63.441176,46.591587,1.113705e+07,1.968876e+07,0.268844,0.328104,5412.635775,3554.965299
tt9726500,0,0,0,1,0,0,1,0,1,0,...,0,0,246.181818,132.446091,2.844038e+05,4.600066e+05,0.200427,0.273791,2664.758148,4482.705753

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,30.831579,16.371991,8.612265e+01,1.213134e+02,0.058649,0.080815,903.731356,619.513721
32,NaN,1117.600000,918.542454,3.911385e+08,2.062041e+09,0.473350,0.381433,8585.558942,4482.705753
33,NaN,93.862874,79.763304,2.340235e+07,6.324236e+07,0.253057,0.259864,4427.889491,2644.017787
34,NaN,145.818500,122.259651,5.478787e+07,2.435085e+08,0.085482,0.055004,1764.856830,788.008393
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,23.333333,10.804318,9.385124e-05,9.385124e-05,0.029433,0.049375,221.393091,358.188272
37,NaN,1085.428571,1798.835803,3.911385e+08,2.062041e+09,0.754928,0.395896,10402.061792,5270.377930
38,NaN,66.194140,62.963057,1.770675e+07,4.533132e+07,0.258746,0.262246,4164.657888,2657.687792
39,NaN,81.607561,99.525457,4.057906e+07,1.476256e+08,0.104549,0.060228,1615.572475,707.241803
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,24.732558,10.834140,3.251204e+01,7.897916e+01,0.069083,0.084330,1930.673604,1275.025102
42,NaN,246.181818,244.898938,2.657878e+08,6.670469e+08,0.596151,0.398379,8309.913009,4659.362101
43,NaN,58.796285,48.138555,3.009150e+07,6.111591e+07,0.269328,0.267145,4778.341948,2598.538577
44,NaN,40.874992,36.307316,4.971474e+07,1.014695e+08,0.104138,0.062088,1524.442815,648.341643

Fantasy

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10048096,0,0,0,0,0,0,0,1,0,1,...,0,0,28.480000,27.728859,1.167823e+07,2.226350e+07,0.296425,0.314294,4229.213104,2424.473662
tt10160782,0,0,0,0,0,0,0,0,0,1,...,0,0,26.629032,14.973346,2.243784e+06,3.978417e+06,0.223602,0.245359,1643.524403,1164.242536
tt10782442,0,0,0,0,0,0,0,0,0,1,...,0,0,40.606383,55.745855,6.005093e+05,1.676450e+06,0.191459,0.254346,1701.126526,1915.855386
tt10933674,0,0,0,0,0,0,0,0,0,1,...,0,0,49.000000,56.337155,2.981498e+05,8.537377e+05,0.062440,0.135537,2320.155832,2230.440921
tt1458902,0,0,0,0,0,0,0,1,0,1,...,0,0,83.444444,107.612932,6.616687e+05,1.956854e+06,0.137427,0.167403,1560.466282,1138.810056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9569732,0,0,0,0,0,0,0,0,0,1,...,0,0,79.960784,70.147173,1.978100e+07,5.793845e+07,0.538257,0.310155,4396.509781,2763.626476
tt9598232,0,0,0,0,0,0,0,0,0,1,...,0,0,30.671642,20.387579,4.499705e+06,2.200000e+07,0.196869,0.249766,2643.426495,2708.808622
tt9737258,1,0,1,0,0,0,0,0,0,1,...,0,0,32.933333,34.987744,4.077764e+07,6.825014e+07,0.286480,0.324978,7232.804245,4246.913678
tt9816310,0,0,0,0,0,0,0,0,0,1,...,0,0,48.868421,38.448305,2.636712e+07,8.529159e+07,0.239049,0.231837,3862.685448,3785.239527
tt9908448,0,0,0,0,0,0,0,1,0,1,...,0,0,599.000000,337.718818,4.631820e+04,5.876937e+04,0.323718,0.228877,2760.667444,662.911244

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,30.831579,16.371991,8.612265e+01,1.213134e+02,0.058649,0.080815,903.731356,619.513721
32,NaN,1117.600000,918.542454,3.911385e+08,2.062041e+09,0.473350,0.381433,8585.558942,4482.705753
33,NaN,93.862874,79.763304,2.340235e+07,6.324236e+07,0.253057,0.259864,4427.889491,2644.017787
34,NaN,145.818500,122.259651,5.478787e+07,2.435085e+08,0.085482,0.055004,1764.856830,788.008393
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,23.333333,10.804318,9.385124e-05,9.385124e-05,0.029433,0.049375,221.393091,358.188272
37,NaN,1085.428571,1798.835803,3.911385e+08,2.062041e+09,0.754928,0.395896,10402.061792,5270.377930
38,NaN,66.194140,62.963057,1.770675e+07,4.533132e+07,0.258746,0.262246,4164.657888,2657.687792
39,NaN,81.607561,99.525457,4.057906e+07,1.476256e+08,0.104549,0.060228,1615.572475,707.241803
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,24.732558,10.834140,3.251204e+01,7.897916e+01,0.069083,0.084330,1930.673604,1275.025102
42,NaN,246.181818,244.898938,2.657878e+08,6.670469e+08,0.596151,0.398379,8309.913009,4659.362101
43,NaN,58.796285,48.138555,3.009150e+07,6.111591e+07,0.269328,0.267145,4778.341948,2598.538577
44,NaN,40.874992,36.307316,4.971474e+07,1.014695e+08,0.104138,0.062088,1524.442815,648.341643
45,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,26.629032,10.804318,3.573075e+00,6.151158e+00,0.058706,0.084330,991.932777,662.911244
47,NaN,599.000000,459.134693,2.943780e+08,1.489362e+09,0.545173,0.364193,9020.214668,4579.787109
48,NaN,69.098288,64.734501,2.092050e+07,5.382331e+07,0.252141,0.250077,3829.574961,2575.716885
49,NaN,73.742968,68.536415,4.789495e+07,1.634716e+08,0.106347,0.058045,1794.569590,773.449544

History

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10178206,0,1,0,0,0,0,0,0,0,0,...,0,0,100.266667,76.162808,1.571449e+05,5.801532e+05,0.056414,0.075460,1368.821693,1850.536792
tt10322976,0,0,0,0,0,0,0,0,0,0,...,0,0,56.353846,50.275068,9.630442e+05,2.876127e+06,0.272857,0.305739,3151.294615,2368.702246
tt10550990,0,0,0,0,1,0,0,1,0,0,...,0,0,34.921053,39.311876,7.785232e+06,1.147720e+07,0.269699,0.319558,3420.281337,2314.638056
tt2328900,0,0,0,1,0,0,0,1,0,0,...,0,0,36.470588,28.443169,1.945199e+06,4.317318e+06,0.218978,0.277998,3371.203504,2745.873856
tt2777020,0,0,0,0,0,0,0,1,0,0,...,1,0,57.000000,46.776691,9.244112e+06,2.800674e+07,0.214056,0.249729,3725.071949,3123.797873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9641244,0,0,0,0,0,0,1,0,0,0,...,0,0,113.640000,124.250032,3.952243e+06,6.178222e+06,0.206376,0.212914,5242.000330,3583.920841
tt9647642,0,0,0,0,0,0,0,0,0,0,...,0,0,39.619048,27.012889,7.539677e+06,1.266858e+07,0.208676,0.239703,4353.427087,2812.462602
tt9670284,1,1,0,0,0,0,0,0,0,0,...,0,0,49.171429,37.661641,2.348687e+05,7.035756e+05,0.346679,0.299096,3331.435875,2569.114163
tt9689618,0,0,0,1,0,0,1,0,0,0,...,0,0,42.930556,39.839026,3.215435e+06,6.229136e+06,0.224963,0.262876,3680.253006,2525.636673
tt9752158,0,0,0,1,0,0,0,1,0,0,...,0,0,80.833333,42.544421,1.482028e+06,2.540781e+06,0.182051,0.227870,2147.987695,1741.093708

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,30.831579,16.371991,8.612265e+01,1.213134e+02,0.058649,0.080815,903.731356,619.513721
32,NaN,1117.600000,918.542454,3.911385e+08,2.062041e+09,0.473350,0.381433,8585.558942,4482.705753
33,NaN,93.862874,79.763304,2.340235e+07,6.324236e+07,0.253057,0.259864,4427.889491,2644.017787
34,NaN,145.818500,122.259651,5.478787e+07,2.435085e+08,0.085482,0.055004,1764.856830,788.008393
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,23.333333,10.804318,9.385124e-05,9.385124e-05,0.029433,0.049375,221.393091,358.188272
37,NaN,1085.428571,1798.835803,3.911385e+08,2.062041e+09,0.754928,0.395896,10402.061792,5270.377930
38,NaN,66.194140,62.963057,1.770675e+07,4.533132e+07,0.258746,0.262246,4164.657888,2657.687792
39,NaN,81.607561,99.525457,4.057906e+07,1.476256e+08,0.104549,0.060228,1615.572475,707.241803
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,24.732558,10.834140,3.251204e+01,7.897916e+01,0.069083,0.084330,1930.673604,1275.025102
42,NaN,246.181818,244.898938,2.657878e+08,6.670469e+08,0.596151,0.398379,8309.913009,4659.362101
43,NaN,58.796285,48.138555,3.009150e+07,6.111591e+07,0.269328,0.267145,4778.341948,2598.538577
44,NaN,40.874992,36.307316,4.971474e+07,1.014695e+08,0.104138,0.062088,1524.442815,648.341643
45,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,26.629032,10.804318,3.573075e+00,6.151158e+00,0.058706,0.084330,991.932777,662.911244
47,NaN,599.000000,459.134693,2.943780e+08,1.489362e+09,0.545173,0.364193,9020.214668,4579.787109
48,NaN,69.098288,64.734501,2.092050e+07,5.382331e+07,0.252141,0.250077,3829.574961,2575.716885
49,NaN,73.742968,68.536415,4.789495e+07,1.634716e+08,0.106347,0.058045,1794.569590,773.449544
50,History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,27.045113,12.583474,3.691243e+01,1.521937e+02,0.048586,0.075460,1368.821693,1205.415245
52,NaN,381.000000,459.814049,2.455901e+08,6.707648e+08,0.728871,0.395896,8480.810574,4124.901488
53,NaN,67.555635,67.227060,8.241305e+06,2.415985e+07,0.250709,0.260161,3693.980915,2567.643178
54,NaN,55.733219,74.245488,2.507088e+07,7.645696e+07,0.104822,0.058003,1511.336361,621.805375

Horror

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt1780790,0,0,0,0,0,0,0,0,0,0,...,0,0,49.404762,47.384476,6.376374e+05,1.422149e+06,0.297179,0.356651,2559.605441,2912.062244
tt1842422,0,0,1,0,0,0,0,0,0,1,...,0,0,79.434343,84.961092,9.417842e+07,2.772399e+08,0.209808,0.210584,5787.519840,3362.110585
tt3211248,1,0,0,0,1,0,0,0,0,0,...,0,0,39.348837,40.191625,7.313832e+04,2.127517e+05,0.071650,0.145525,1186.655406,1130.793267
tt3410974,0,0,0,0,0,0,0,0,0,0,...,0,0,33.800000,22.402350,8.602748e+06,1.957610e+07,0.220718,0.288461,7143.191971,3897.767985
tt3526622,0,1,0,0,0,0,0,0,0,0,...,0,0,28.432836,13.679949,8.696473e+06,2.082167e+07,0.259332,0.229756,2809.487206,2383.345903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9536636,0,0,0,0,0,0,0,0,0,0,...,0,0,68.655172,53.820440,9.606992e+06,2.714962e+07,0.112148,0.122114,2395.099955,3099.870431
tt9586350,0,0,0,0,0,0,0,0,0,0,...,0,0,84.771429,67.922260,6.749238e+05,1.880194e+06,0.108542,0.209071,2604.330593,1712.396854
tt9764972,0,0,0,0,0,0,0,0,0,0,...,0,0,55.260870,55.213985,9.512235e+05,2.784915e+06,0.328560,0.231652,2114.362236,2104.833722
tt9816310,0,0,0,0,0,0,0,0,0,1,...,0,0,48.868421,38.448305,2.636712e+07,8.529159e+07,0.239049,0.231837,3862.685448,3785.239527
tt9866700,0,0,0,0,0,0,0,0,0,0,...,0,0,140.034483,81.652114,1.034090e+06,2.018781e+06,0.115961,0.170274,5452.573097,3761.139541

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,26.035088,13.679949,2.203160e+03,2.520450e+03,0.056414,0.075460,1368.821693,1275.025102
7,NaN,373.375000,269.849003,5.537693e+08,9.903872e+08,0.596151,0.403412,9229.044492,5270.377930
8,NaN,57.844687,54.678150,3.501589e+07,7.291550e+07,0.266969,0.267471,4545.035906,2832.854463
9,NaN,44.204103,43.809957,8.028943e+07,1.489524e+08,0.098909,0.054800,1693.286367,662.387054
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,26.024096,13.141469,2.438054e+05,6.425272e+05,0.027253,0.032768,1047.408862,1664.703988
12,NaN,498.200000,357.693761,8.287233e+08,1.624325e+09,0.528914,0.403412,9636.168342,4953.104533
13,NaN,55.192701,49.207916,1.110581e+08,2.031084e+08,0.277926,0.283399,5573.611467,3054.979255
14,NaN,54.854113,49.990769,1.665961e+08,2.847308e+08,0.092219,0.054504,1777.313872,690.422538
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,27.352941,10.804318,8.612265e+01,1.213134e+02,0.088599,0.131922,1702.978437,1079.354449
17,NaN,1117.600000,918.542454,9.858080e+08,7.222389e+09,0.481195,0.381398,8871.486786,4482.705753
18,NaN,76.446725,64.419992,2.423461e+07,1.170665e+08,0.246347,0.264800,3922.075133,2568.363568
19,NaN,143.765369,112.384440,1.030774e+08,7.152125e+08,0.081271,0.051355,1431.910449,663.019749
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,23.333333,10.804318,1.141537e-02,3.639146e-02,0.027253,0.032768,756.943616,568.458017
22,NaN,818.222222,859.236454,5.537693e+08,1.489362e+09,0.671748,0.390685,8789.890490,5228.630833
23,NaN,59.839571,53.196409,3.479660e+07,7.444205e+07,0.260624,0.257777,4730.973869,2685.619673
24,NaN,64.080862,69.281643,6.664396e+07,1.546386e+08,0.106145,0.062690,1638.538284,734.235898
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,25.959459,13.679927,9.385124e-05,9.385124e-05,0.069890,0.134959,1108.384233,659.500998
27,NaN,1085.428571,1798.835803,2.623320e+08,4.780944e+08,0.569085,0.381017,8324.586732,4400.566824
28,NaN,73.579725,73.413864,1.610457e+07,3.384546e+07,0.255237,0.259076,4047.370724,2653.651556
29,NaN,129.704683,166.893174,3.910242e+07,6.888901e+07,0.097223,0.057215,1575.500520,793.501882
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,30.831579,16.371991,8.612265e+01,1.213134e+02,0.058649,0.080815,903.731356,619.513721
32,NaN,1117.600000,918.542454,3.911385e+08,2.062041e+09,0.473350,0.381433,8585.558942,4482.705753
33,NaN,93.862874,79.763304,2.340235e+07,6.324236e+07,0.253057,0.259864,4427.889491,2644.017787
34,NaN,145.818500,122.259651,5.478787e+07,2.435085e+08,0.085482,0.055004,1764.856830,788.008393
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,23.333333,10.804318,9.385124e-05,9.385124e-05,0.029433,0.049375,221.393091,358.188272
37,NaN,1085.428571,1798.835803,3.911385e+08,2.062041e+09,0.754928,0.395896,10402.061792,5270.377930
38,NaN,66.194140,62.963057,1.770675e+07,4.533132e+07,0.258746,0.262246,4164.657888,2657.687792
39,NaN,81.607561,99.525457,4.057906e+07,1.476256e+08,0.104549,0.060228,1615.572475,707.241803
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,24.732558,10.834140,3.251204e+01,7.897916e+01,0.069083,0.084330,1930.673604,1275.025102
42,NaN,246.181818,244.898938,2.657878e+08,6.670469e+08,0.596151,0.398379,8309.913009,4659.362101
43,NaN,58.796285,48.138555,3.009150e+07,6.111591e+07,0.269328,0.267145,4778.341948,2598.538577
44,NaN,40.874992,36.307316,4.971474e+07,1.014695e+08,0.104138,0.062088,1524.442815,648.341643
45,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,26.629032,10.804318,3.573075e+00,6.151158e+00,0.058706,0.084330,991.932777,662.911244
47,NaN,599.000000,459.134693,2.943780e+08,1.489362e+09,0.545173,0.364193,9020.214668,4579.787109
48,NaN,69.098288,64.734501,2.092050e+07,5.382331e+07,0.252141,0.250077,3829.574961,2575.716885
49,NaN,73.742968,68.536415,4.789495e+07,1.634716e+08,0.106347,0.058045,1794.569590,773.449544
50,History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,27.045113,12.583474,3.691243e+01,1.521937e+02,0.048586,0.075460,1368.821693,1205.415245
52,NaN,381.000000,459.814049,2.455901e+08,6.707648e+08,0.728871,0.395896,8480.810574,4124.901488
53,NaN,67.555635,67.227060,8.241305e+06,2.415985e+07,0.250709,0.260161,3693.980915,2567.643178
54,NaN,55.733219,74.245488,2.507088e+07,7.645696e+07,0.104822,0.058003,1511.336361,621.805375
55,Horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,22.733333,13.679949,3.573075e+00,6.151158e+00,0.044414,0.065131,950.325222,1015.821419
57,NaN,205.409091,268.491859,6.116080e+08,9.340091e+08,0.555681,0.380986,9570.304113,5228.630833
58,NaN,60.950106,59.839943,2.126497e+07,4.495807e+07,0.257306,0.257582,3639.981515,2689.276552
59,NaN,30.899420,37.475324,6.643295e+07,1.227793e+08,0.107219,0.068875,1710.812242,908.392475

Music

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,50.435897,49.143325,3.035781e+07,6.411460e+07,0.350184,0.297793,6235.588053,3338.317184
tt10186696,0,0,0,0,0,0,0,0,0,0,...,0,0,28.176471,12.564145,1.063160e+07,1.980192e+07,0.236759,0.269553,3811.328318,1955.878150
tt10344086,0,0,0,0,0,0,0,0,0,0,...,0,0,75.000000,52.402290,1.102968e+07,1.490602e+07,0.226722,0.283139,5134.244523,2607.378756
tt10782442,0,0,0,0,0,0,0,0,0,1,...,0,0,40.606383,55.745855,6.005093e+05,1.676450e+06,0.191459,0.254346,1701.126526,1915.855386
tt10796470,0,0,0,0,0,0,0,0,0,0,...,0,0,59.574074,55.927070,9.523843e+05,2.539534e+06,0.342192,0.284693,3256.467294,2398.472863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9715914,0,0,0,0,0,0,1,0,0,0,...,0,0,56.923077,60.815309,1.085165e+07,2.717923e+07,0.277688,0.236652,4035.059571,2339.216010
tt9742652,0,0,0,0,0,0,1,0,0,0,...,0,0,38.550000,26.546139,6.172617e+05,9.404060e+05,0.320469,0.259978,3859.005604,2401.832934
tt9782778,0,0,0,1,0,0,1,0,0,0,...,0,0,123.937500,66.727027,4.892367e+06,9.772327e+06,0.206077,0.210649,3480.508165,2574.857908
tt9839624,0,0,0,0,0,0,1,0,0,0,...,0,0,84.750000,101.930167,1.632238e+06,3.620226e+06,0.236320,0.229066,3088.297960,1862.654623
tt9879080,0,0,0,0,0,0,1,0,0,0,...,0,0,83.636364,51.821850,1.771188e+06,2.408702e+06,0.058649,0.080815,1852.817936,1417.178866

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
60,Music,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,23.966667,12.564145,2.500273e+05,4.324414e+05,0.058649,0.064727,1134.557715,756.468195
62,NaN,1030.750000,694.648607,4.193834e+08,9.918599e+08,0.463738,0.390685,7752.548746,4656.988970
63,NaN,74.223188,68.786884,2.680588e+07,6.398634e+07,0.241940,0.249371,4209.304137,2633.998618
64,NaN,114.828312,96.477169,6.163640e+07,1.522561e+08,0.085685,0.062531,1426.129710,662.616515

Mystery

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10178206,0,1,0,0,0,0,0,0,0,0,...,0,0,100.266667,76.162808,1.571449e+05,5.801532e+05,0.056414,0.075460,1368.821693,1850.536792
tt10541096,0,0,0,0,0,0,0,1,0,0,...,0,0,35.043011,20.764897,3.870629e+06,8.648442e+06,0.213080,0.250892,3647.108480,3082.368161
tt10782442,0,0,0,0,0,0,0,0,0,1,...,0,0,40.606383,55.745855,6.005093e+05,1.676450e+06,0.191459,0.254346,1701.126526,1915.855386
tt1255919,0,0,0,0,1,1,0,0,0,0,...,0,0,38.351648,32.304313,8.594421e+05,1.618656e+06,0.168755,0.212638,2739.267814,1665.208793
tt2458010,0,0,0,0,0,0,0,1,0,0,...,0,0,45.134615,48.910448,4.980600e+05,9.890627e+05,0.258997,0.298274,2800.511260,2605.147946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9495224,0,0,0,0,0,0,0,1,0,0,...,0,0,38.444444,46.037391,4.174629e+06,9.131802e+06,0.256583,0.265546,4089.180878,2900.238525
tt9526818,0,0,0,0,0,0,0,1,0,0,...,0,0,66.156863,44.932792,4.097505e+06,1.367540e+07,0.106808,0.155534,2227.170371,1859.772992
tt9569584,0,0,0,0,0,0,0,1,0,0,...,0,0,34.879310,31.871551,1.927116e+06,5.164028e+06,0.314601,0.284922,4220.329967,3367.148387
tt9641092,0,0,0,0,0,1,0,1,0,0,...,0,0,43.865385,52.715867,6.308080e+06,3.577384e+07,0.214483,0.186561,3507.705768,1547.385849
tt9716728,0,0,0,0,1,0,0,0,0,0,...,0,0,33.476190,26.397004,1.954129e+07,4.965676e+07,0.286445,0.297614,3499.511518,2139.783548

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
65,Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,28.827586,14.382827,6.574513e+01,7.080907e+01,0.048586,0.075460,739.779942,630.258356
67,NaN,1085.428571,1798.835803,3.037936e+08,8.115230e+08,0.518576,0.390936,9229.044492,6111.914158
68,NaN,74.732722,79.309476,1.179733e+07,2.999832e+07,0.254263,0.257326,3534.413533,2505.900817
69,NaN,119.513581,190.754262,3.414351e+07,8.972034e+07,0.107781,0.063320,1520.106751,830.248322

Romance

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10233502,0,0,0,0,0,0,0,1,0,0,...,1,0,85.111111,101.457100,8.887909e+05,1.913762e+06,0.093877,0.094924,2970.748198,2442.491618
tt1235187,0,0,0,0,0,0,0,1,0,0,...,1,0,41.159292,36.599378,1.940994e+06,1.156911e+07,0.218231,0.290517,2734.810789,2103.931653
tt1319706,0,0,0,0,1,0,0,1,1,0,...,0,0,85.666667,117.745219,1.260381e+07,1.371736e+07,0.460839,0.193279,7023.839085,2260.649588
tt1517451,0,0,0,0,0,0,0,1,0,0,...,0,0,48.676056,42.549317,4.315621e+06,1.010130e+07,0.299950,0.289451,3819.163955,2920.169498
tt2574538,0,0,0,0,0,0,0,0,0,0,...,0,0,72.207792,65.706814,2.323201e+06,4.573605e+06,0.195214,0.247597,4395.484047,2811.510551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9319530,0,0,0,0,0,1,0,1,0,0,...,0,0,49.066667,35.515662,8.065135e+06,2.634306e+07,0.204754,0.266228,5473.173325,2869.227283
tt9412678,0,0,0,0,1,0,0,1,0,0,...,0,0,53.857143,35.952066,4.797171e+05,5.883634e+05,0.171081,0.132562,1893.550800,681.243615
tt9615856,0,0,0,1,1,0,0,0,0,0,...,0,0,67.852941,38.843678,3.792652e+06,5.214194e+06,0.206537,0.208547,4197.374472,2206.177908
tt9699064,0,0,0,0,0,0,0,1,0,0,...,0,0,41.670732,28.350616,5.971663e+06,1.710160e+07,0.315923,0.330436,4184.885640,3340.768941
tt9716728,0,0,0,0,1,0,0,0,0,0,...,0,0,33.476190,26.397004,1.954129e+07,4.965676e+07,0.286445,0.297614,3499.511518,2139.783548

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
70,Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,24.900000,13.689777,1.141537e-02,3.639146e-02,0.054901,0.078955,221.393091,358.188272
72,NaN,435.375000,443.333378,3.679649e+08,8.369799e+08,0.528986,0.394291,10402.061792,4385.020042
73,NaN,61.748272,58.336020,2.402830e+07,4.947742e+07,0.261003,0.263797,4472.067014,2623.567390
74,NaN,46.379939,60.840783,4.950435e+07,1.009531e+08,0.093822,0.061174,1811.178883,703.992601

Sci-Fi

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10017502,0,0,0,0,0,0,0,1,0,0,...,0,0,31.970588,14.597512,3.220428e+06,6.070315e+06,0.268349,0.325218,3663.755048,2106.268326
tt1458902,0,0,0,0,0,0,0,1,0,1,...,0,0,83.444444,107.612932,6.616687e+05,1.956854e+06,0.137427,0.167403,1560.466282,1138.810056
tt1477834,1,1,0,0,0,0,0,0,0,1,...,0,0,36.631579,24.215720,6.649182e+06,1.745709e+07,0.383423,0.314480,3903.631083,2566.580412
tt1571234,1,1,0,0,0,0,0,0,0,1,...,0,0,35.000000,17.471472,6.216474e+06,3.921797e+07,0.281595,0.241968,2837.226044,3001.682584
tt1780790,0,0,0,0,0,0,0,0,0,0,...,0,0,49.404762,47.384476,6.376374e+05,1.422149e+06,0.297179,0.356651,2559.605441,2912.062244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9442046,0,0,0,0,0,0,0,0,0,0,...,0,0,49.423077,65.552635,4.103314e+07,5.757536e+07,0.250462,0.283551,6754.892971,3594.727123
tt9495224,0,0,0,0,0,0,0,1,0,0,...,0,0,38.444444,46.037391,4.174629e+06,9.131802e+06,0.256583,0.265546,4089.180878,2900.238525
tt9497146,1,0,1,0,0,0,0,0,0,0,...,0,0,26.024096,13.141469,5.966728e+07,1.456238e+08,0.325671,0.326201,5883.844894,3612.875443
tt9586350,0,0,0,0,0,0,0,0,0,0,...,0,0,84.771429,67.922260,6.749238e+05,1.880194e+06,0.108542,0.209071,2604.330593,1712.396854
tt9816310,0,0,0,0,0,0,0,0,0,1,...,0,0,48.868421,38.448305,2.636712e+07,8.529159e+07,0.239049,0.231837,3862.685448,3785.239527

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
75,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,23.333333,12.995726,4.738490e-01,2.507373e+00,0.029433,0.049375,950.325222,1015.821419
77,NaN,176.352941,202.054191,5.451988e+08,9.903872e+08,0.496340,0.403412,10402.061792,5056.289334
78,NaN,56.832782,54.340902,1.829410e+07,4.031819e+07,0.253812,0.259683,3962.337705,2745.089753
79,NaN,30.835728,38.178710,5.992522e+07,1.115068e+08,0.099575,0.066446,1840.516825,896.756839

Sport

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10160782,0,0,0,0,0,0,0,0,0,1,...,0,0,26.629032,14.973346,2.243784e+06,3.978417e+06,0.223602,0.245359,1643.524403,1164.242536
tt10443766,0,0,0,0,0,0,0,0,0,0,...,0,0,29.963415,23.449710,1.910677e+08,3.236424e+08,0.409440,0.357606,8521.471464,2953.094259
tt10758262,0,0,0,0,0,0,0,0,0,0,...,0,0,73.402778,67.454235,2.868926e+07,7.998777e+07,0.292297,0.225343,7977.365990,3623.899831
tt2258058,0,0,0,0,0,0,0,1,0,0,...,0,0,45.773585,22.819754,2.555178e+06,6.198519e+06,0.166986,0.174369,3606.091100,2735.480439
tt3201736,0,0,0,0,0,0,0,1,0,0,...,0,0,36.573643,37.453801,2.711389e+06,5.282933e+06,0.257771,0.295323,4122.529722,1848.295716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9484580,0,0,0,0,0,0,1,0,0,0,...,0,0,64.217391,43.887164,3.557223e+07,8.996898e+07,0.467456,0.381433,5837.117397,3052.802523
tt9534772,1,0,0,0,0,0,0,0,0,0,...,0,0,55.705128,111.231810,4.799977e+08,7.598956e+08,0.390535,0.314528,7337.827133,3163.091631
tt9609266,0,0,0,0,0,0,0,0,0,0,...,0,0,82.638298,68.522221,2.617379e+07,4.144042e+07,0.502616,0.292922,8100.536495,3522.401525
tt9662736,0,0,0,0,0,0,0,0,0,0,...,0,0,29.661290,24.332338,6.295072e+07,1.659100e+08,0.397502,0.270295,4380.179370,2342.764333
tt9767986,0,0,0,1,0,0,1,0,0,0,...,0,0,43.074468,33.943394,2.962128e+07,5.557596e+07,0.320404,0.282091,5852.445953,2965.384091

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
80,Sport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,24.732558,10.834140,2.811403e+05,6.315834e+05,0.100135,0.151298,1643.524403,1164.242536
82,NaN,264.114286,159.554339,4.799977e+08,2.052762e+09,0.564019,0.398379,8521.471464,3742.105671
83,NaN,49.669432,41.047501,3.763150e+07,9.107618e+07,0.307143,0.282415,4949.774019,2572.431661
84,NaN,32.921915,28.162519,6.943580e+07,2.346717e+08,0.093829,0.053318,1576.907513,573.469084

Thriller

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10212512,0,0,0,0,0,1,0,0,0,0,...,0,0,30.671642,20.387579,4.499705e+06,2.200000e+07,0.196869,0.249766,2643.426495,2708.808622
tt10541096,0,0,0,0,0,0,0,1,0,0,...,0,0,35.043011,20.764897,3.870629e+06,8.648442e+06,0.213080,0.250892,3647.108480,3082.368161
tt10693740,1,0,0,0,0,0,0,0,0,0,...,0,0,33.357895,20.524140,3.613433e+06,7.154272e+06,0.325492,0.274640,2731.000468,1885.235905
tt1780790,0,0,0,0,0,0,0,0,0,0,...,0,0,49.404762,47.384476,6.376374e+05,1.422149e+06,0.297179,0.356651,2559.605441,2912.062244
tt1826956,1,0,0,0,0,0,0,1,0,0,...,1,0,29.712644,17.477676,4.552673e+05,1.407048e+06,0.475215,0.356627,4664.703880,3312.356906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9464032,0,0,0,0,0,0,0,0,0,1,...,0,0,32.929412,20.687472,3.430492e+06,1.152297e+07,0.291776,0.259367,2961.132796,2411.819452
tt9479454,1,0,0,0,0,0,0,0,0,0,...,0,0,46.078125,52.678952,1.374374e+07,2.978487e+07,0.276133,0.260155,4750.111085,2784.366098
tt9569584,0,0,0,0,0,0,0,1,0,0,...,0,0,34.879310,31.871551,1.927116e+06,5.164028e+06,0.314601,0.284922,4220.329967,3367.148387
tt9818154,0,0,0,0,0,0,0,1,0,0,...,0,0,67.642857,41.892050,7.893139e+06,1.185300e+07,0.365815,0.301265,6862.704188,4722.731657
tt9866700,0,0,0,0,0,0,0,0,0,0,...,0,0,140.034483,81.652114,1.034090e+06,2.018781e+06,0.115961,0.170274,5452.573097,3761.139541

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
85,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,28.017391,12.184083,9.385124e-05,9.385124e-05,0.068768,0.108457,739.779942,630.258356
87,NaN,1008.000000,285.734274,3.037936e+08,8.115230e+08,0.555681,0.390936,7817.744280,6111.914158
88,NaN,65.959408,58.839458,1.088289e+07,2.897643e+07,0.267155,0.272411,3884.177299,2735.748707
89,NaN,88.823629,52.907641,2.939213e+07,8.087043e+07,0.101068,0.058974,1658.329187,845.203847

War

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10233502,0,0,0,0,0,0,0,1,0,0,...,1,0,85.111111,101.457100,8.887909e+05,1.913762e+06,0.093877,0.094924,2970.748198,2442.491618
tt10505100,1,1,0,0,0,0,0,1,0,0,...,1,0,26.157303,28.588478,1.729968e+06,8.465334e+06,0.302386,0.300653,4690.466916,3944.044189
tt1235187,0,0,0,0,0,0,0,1,0,0,...,1,0,41.159292,36.599378,1.940994e+06,1.156911e+07,0.218231,0.290517,2734.810789,2103.931653
tt1826956,1,0,0,0,0,0,0,1,0,0,...,1,0,29.712644,17.477676,4.552673e+05,1.407048e+06,0.475215,0.356627,4664.703880,3312.356906
tt2368254,0,0,0,1,0,0,0,1,0,0,...,1,0,34.101852,28.800701,1.546200e+06,3.539806e+06,0.324802,0.344173,5409.772810,3517.790760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9415552,1,0,0,0,0,0,0,1,0,0,...,1,0,41.256410,38.447245,7.390059e+06,2.511719e+07,0.285038,0.279843,4489.569395,3492.155131
tt9418304,0,0,0,0,0,0,1,0,0,0,...,1,0,55.809524,65.068183,6.891517e+05,1.607667e+06,0.379750,0.338366,4777.106156,2708.635681
tt9490150,0,0,0,0,0,0,0,0,0,0,...,1,0,64.714286,54.012801,4.555863e+06,9.015277e+06,0.346418,0.298711,3856.014646,2788.099238
tt9614898,0,0,0,0,0,0,0,1,0,0,...,1,0,59.088608,53.209210,4.372521e+05,1.160021e+06,0.248254,0.283317,4517.950587,3755.968290
tt9904014,0,0,0,0,0,0,0,0,0,0,...,1,0,108.547619,73.594838,3.773972e+05,6.156485e+05,0.339983,0.243896,2960.448579,2322.644041

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
90,War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,26.157303,14.902461,1.674793e+03,2.266394e+03,0.075773,0.094924,1554.652251,815.191959
92,NaN,1020.000000,891.000000,2.380492e+08,3.960340e+08,0.633094,0.395896,7727.120061,4277.692339
93,NaN,70.402650,66.412873,1.111429e+07,2.811046e+07,0.279246,0.276581,3817.180397,2682.993286
94,NaN,105.512768,95.621692,3.231806e+07,7.321340e+07,0.099612,0.055875,1385.472739,703.586294

Western

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10298956,0,0,0,0,0,0,0,0,0,0,...,0,1,69.428571,69.710334,1.269934e+06,2.525435e+06,0.171531,0.278020,3599.167912,2941.681892
tt10637886,0,0,0,0,0,0,0,0,0,0,...,0,1,116.625000,134.867284,6.910150e+05,1.093361e+06,0.332452,0.304377,2326.291706,1850.532105
tt1648190,1,1,0,0,0,0,0,0,0,1,...,0,1,35.327731,30.155649,2.921938e+06,1.225993e+07,0.298720,0.297805,3260.968884,2971.086902
tt1680140,1,1,0,0,0,0,0,1,0,0,...,0,1,48.323077,57.539313,2.649232e+06,1.547314e+07,0.185784,0.225507,2911.764824,3159.421391
tt2226440,1,0,0,0,0,0,0,0,0,0,...,0,1,42.323810,48.563262,2.955622e+06,5.546556e+06,0.451017,0.309241,6179.551004,3654.143138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt8908288,0,0,0,0,0,0,0,0,0,0,...,0,1,40.540541,50.876158,1.059587e+07,1.643124e+07,0.208367,0.228852,4479.727110,2818.146520
tt8924518,1,1,0,0,0,0,0,0,0,0,...,0,1,92.666667,92.972965,2.203160e+03,2.520450e+03,0.315424,0.252038,5577.390865,3294.522342
tt9198440,0,0,0,0,0,0,0,0,0,0,...,0,1,215.375000,208.589871,4.423449e+06,6.476159e+06,0.417402,0.262718,3661.084380,2936.606720
tt9430524,0,0,0,0,1,0,0,1,0,0,...,0,1,41.301205,27.000551,1.601165e+07,3.786675e+07,0.199818,0.269691,6892.795146,2584.730728
tt9616622,0,0,0,0,0,0,0,0,0,0,...,0,1,57.848101,46.006353,9.437210e+05,2.079143e+06,0.213638,0.215061,2998.933350,2442.192732

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,24.894737,10.834140,2.203160e+03,2.520450e+03,0.068732,0.089546,1186.655406,815.191959
2,NaN,1085.428571,1798.835803,5.451988e+08,9.903872e+08,0.754928,0.403412,8878.431404,6111.914158
3,NaN,58.201975,57.834092,2.940608e+07,6.201727e+07,0.295526,0.278873,4460.340244,2864.226415
4,NaN,84.433162,135.014702,6.881998e+07,1.262256e+08,0.096228,0.055451,1655.073148,789.687318
...,...,...,...,...,...,...,...,...,...
95,Western,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,29.401869,14.166341,3.462428e-04,5.483267e-04,0.046684,0.069180,1205.102680,1230.991833
97,NaN,311.857143,532.211137,4.763829e+08,1.976471e+09,0.573343,0.389743,8774.701818,5270.377930
98,NaN,64.003851,65.163430,1.192047e+07,3.932992e+07,0.245419,0.257774,3975.362667,2797.522311
99,NaN,46.270485,71.764574,4.999717e+07,2.051491e+08,0.106706,0.064558,1431.903012,709.494016