In [1]:
# Basic import
import os
import sys
import json
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Helper function
def writeProgress(msg, count, total):
    sys.stdout.write(msg + "{:.2%}\r".format(count/total))
    sys.stdout.flush()
    
def newPath(path):
    if not os.path.isdir(path):
        os.mkdir(path)

def read_json(src_path):
    with open(src_path, 'r') as json_file:
        data = json.load(json_file)
    return data

def write_json(data,dst_path):
    with open(dst_path, 'w') as outfile:
        json.dump(data, outfile)

def writeLog(row):
    with open('log.txt', 'a') as outfile:
        outfile.write(row + '\n')

def getErrMsg(e):
    error_class = e.__class__.__name__ #取得錯誤類型
    detail = e.args[0] #取得詳細內容
    errMsg = "[{}] {}".format(error_class, detail)
    return errMsg

In [3]:
df = pd.read_csv('./csv/train_label_2018_filtered.csv')
df

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1316,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
1317,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1318,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1319,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [4]:
param = pd.read_csv('./csv/computed_2018_filtered_log.csv')
param

,Movie,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,tt0328810,4.308438,4.351987,15.820982,15.725770,0.336424,0.335943,9.025204,8.446634
1,tt10005184,4.852898,5.128792,13.870248,14.762869,0.099732,0.170803,8.552695,7.614880
2,tt10017502,3.464816,2.680851,14.985025,15.618921,0.268349,0.325218,8.206244,7.652673
3,tt10043732,3.729799,3.344649,15.602536,16.654683,0.315923,0.330436,8.339235,8.113956
4,tt10048096,3.349202,3.322474,16.273237,16.918459,0.296425,0.314294,8.349771,7.793370
...,...,...,...,...,...,...,...,...,...
1315,tt9866700,4.941889,4.402468,13.849033,14.518005,0.115961,0.170274,8.603843,8.232477
1316,tt9879080,4.426478,3.947812,14.387161,14.694599,0.058649,0.080815,7.524463,7.256423
1317,tt9891764,3.487894,2.994688,15.839656,16.387069,0.243142,0.287351,8.387383,7.987073
1318,tt9904014,4.687189,4.298575,12.841054,13.330432,0.339983,0.243896,7.993096,7.750461
1319,tt9908448,6.395262,5.822214,10.743290,10.981376,0.323718,0.228877,7.923228,6.496641

In [5]:
result = pd.concat([df, param], axis=1, sort=False)
result = result.set_index('Movie')
result

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt0328810,0,0,0,0,0,0,0,1,1,0,...,0,0,4.308438,4.351987,15.820982,15.725770,0.336424,0.335943,9.025204,8.446634
tt10005184,0,1,0,0,0,0,0,0,0,0,...,0,0,4.852898,5.128792,13.870248,14.762869,0.099732,0.170803,8.552695,7.614880
tt10017502,0,0,0,0,0,0,0,1,0,0,...,0,0,3.464816,2.680851,14.985025,15.618921,0.268349,0.325218,8.206244,7.652673
tt10043732,0,0,0,1,0,0,0,1,0,0,...,0,0,3.729799,3.344649,15.602536,16.654683,0.315923,0.330436,8.339235,8.113956
tt10048096,0,0,0,0,0,0,0,1,0,1,...,0,0,3.349202,3.322474,16.273237,16.918459,0.296425,0.314294,8.349771,7.793370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9866700,0,0,0,0,0,0,0,0,0,0,...,0,0,4.941889,4.402468,13.849033,14.518005,0.115961,0.170274,8.603843,8.232477
tt9879080,0,0,0,0,0,0,1,0,0,0,...,0,0,4.426478,3.947812,14.387161,14.694599,0.058649,0.080815,7.524463,7.256423
tt9891764,0,0,0,0,0,0,1,0,0,0,...,0,0,3.487894,2.994688,15.839656,16.387069,0.243142,0.287351,8.387383,7.987073
tt9904014,0,0,0,0,0,0,0,0,0,0,...,1,0,4.687189,4.298575,12.841054,13.330432,0.339983,0.243896,7.993096,7.750461
tt9908448,0,0,0,0,0,0,0,1,0,1,...,0,0,6.395262,5.822214,10.743290,10.981376,0.323718,0.228877,7.923228,6.496641

In [6]:
gs = result.columns[0:20].tolist()
gs

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [7]:
from IPython.display import display
stat = pd.DataFrame()

for g in gs:
    print(g)
    stat = stat.append([g], ignore_index=True)
    
    newdf = result.loc[result[g] == 1]
    display(newdf)
    newdf = newdf.iloc[:, 20:]
    
    newdf.to_csv('./csv/param/params_' + g + '.csv')
    
    mini = newdf.min()
    maxi = newdf.max()
    avg = newdf.mean()
    std = newdf.std()
#     print(mini, maxi, avg, std)
    
    stat = stat.append(mini, ignore_index=True)
    stat = stat.append(maxi, ignore_index=True)
    stat = stat.append(avg, ignore_index=True)
    stat = stat.append(std, ignore_index=True)
    display(stat)
    
stat.to_csv('./csv/param/stat.csv')

Action

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10379122,1,0,0,0,0,0,0,0,0,0,...,0,0,4.691785,4.207337,16.419064,17.105831,0.445078,0.335927,8.601810,8.487549
tt10450770,1,0,0,0,0,0,0,1,0,0,...,0,0,3.391206,3.027301,16.216304,16.613018,0.294108,0.306255,8.637538,8.018391
tt10465998,1,0,0,0,0,1,0,1,0,0,...,0,0,3.567205,3.143975,14.358293,14.900155,0.355078,0.309862,8.470831,7.972266
tt10505100,1,1,0,0,0,0,0,1,0,0,...,1,0,3.264128,3.353004,14.363613,15.951490,0.302386,0.300653,8.453287,8.279962
tt10675920,1,1,0,0,0,0,0,0,0,0,...,0,0,3.705809,4.228623,17.780525,18.781858,0.281982,0.262777,8.377591,7.987731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9517188,1,1,1,0,0,0,0,0,0,0,...,0,0,3.757362,3.433072,17.767078,18.529469,0.447504,0.355335,8.580882,7.854925
tt9534772,1,0,0,0,0,0,0,0,0,0,...,0,0,4.020072,4.711616,19.989292,20.448692,0.390535,0.314528,8.900798,8.059305
tt9670284,1,1,0,0,0,0,0,0,0,0,...,0,0,3.895313,3.628642,12.366782,13.463931,0.346679,0.299096,8.111159,7.851316
tt9737258,1,0,1,0,0,0,0,0,0,1,...,0,0,3.494485,3.554998,17.523644,18.038690,0.286480,0.324978,8.886382,8.353948
tt9812530,1,0,0,0,0,0,0,0,0,0,...,0,0,3.692000,3.386517,14.715609,15.224680,0.429125,0.267233,8.329579,7.673257

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164

Adventure

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10005184,0,1,0,0,0,0,0,0,0,0,...,0,0,4.852898,5.128792,13.870248,14.762869,0.099732,0.170803,8.552695,7.614880
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,3.920703,3.894741,17.228564,17.976183,0.350184,0.297793,8.738028,8.113222
tt10178206,0,1,0,0,0,0,0,0,0,0,...,0,0,4.607833,4.332873,11.964923,13.271047,0.056414,0.075460,7.221706,7.523231
tt10505100,1,1,0,0,0,0,0,1,0,0,...,1,0,3.264128,3.353004,14.363613,15.951490,0.302386,0.300653,8.453287,8.279962
tt10675920,1,1,0,0,0,0,0,0,0,0,...,0,0,3.705809,4.228623,17.780525,18.781858,0.281982,0.262777,8.377591,7.987731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9517188,1,1,1,0,0,0,0,0,0,0,...,0,0,3.757362,3.433072,17.767078,18.529469,0.447504,0.355335,8.580882,7.854925
tt9547790,0,1,0,0,0,0,1,0,0,0,...,0,0,3.624455,4.088877,19.319175,20.323929,0.473350,0.294048,8.767775,7.942449
tt9580316,0,1,0,0,0,0,1,0,1,0,...,0,0,4.608379,4.531794,17.479612,18.107356,0.235364,0.279990,8.842203,8.065188
tt9670284,1,1,0,0,0,0,0,0,0,0,...,0,0,3.895313,3.628642,12.366782,13.463931,0.346679,0.299096,8.111159,7.851316
tt9828698,0,1,0,0,0,0,0,0,0,0,...,0,0,4.362637,4.649082,16.900968,17.819853,0.201962,0.233480,8.727621,7.829727

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652

Animation

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10059624,0,0,1,0,0,0,0,0,0,0,...,0,0,4.243380,4.536253,17.272459,17.521152,0.290059,0.288288,8.953066,7.694650
tt10837312,0,0,1,0,0,0,0,0,0,0,...,0,0,4.070857,4.619672,17.913726,18.427776,0.367579,0.332397,8.752091,8.425054
tt1842422,0,0,1,0,0,0,0,0,0,1,...,0,0,4.374931,4.442193,18.360702,19.440394,0.209808,0.210584,8.663459,8.120324
tt3076510,0,0,1,0,1,0,0,0,0,0,...,0,0,3.556490,3.454826,17.748681,18.391155,0.319661,0.299600,8.542858,8.087452
tt4177856,0,0,1,0,0,0,0,0,1,0,...,0,0,3.657702,3.404211,18.751449,19.202299,0.277663,0.293166,8.993949,8.259983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9591836,0,0,1,0,0,0,0,0,0,0,...,0,0,4.163066,3.987787,18.271392,18.997694,0.466598,0.266114,8.845859,8.116024
tt9625242,0,0,1,0,0,0,0,0,0,0,...,0,0,3.761200,3.960784,17.643834,18.310242,0.365869,0.342109,8.455621,7.929490
tt9630184,0,0,1,0,0,0,0,0,0,0,...,0,0,4.662788,4.711938,20.347253,20.667591,0.528914,0.354203,8.668724,8.373422
tt9647330,0,0,1,0,0,1,0,1,0,0,...,0,0,3.558970,3.266421,16.813610,18.101548,0.293329,0.301497,8.865996,7.962349
tt9737258,1,0,1,0,0,0,0,0,0,1,...,0,0,3.494485,3.554998,17.523644,18.038690,0.286480,0.324978,8.886382,8.353948

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261

Biography

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10043732,0,0,0,1,0,0,0,1,0,0,...,0,0,3.729799,3.344649,15.602536,16.654683,0.315923,0.330436,8.339235,8.113956
tt10116528,0,0,0,1,0,0,0,0,0,0,...,0,0,4.885504,4.599687,14.838064,15.364693,0.204148,0.194428,8.269711,7.764129
tt10182822,0,0,0,1,0,0,0,1,0,0,...,0,0,3.471426,2.961723,17.451136,19.450230,0.180207,0.282035,8.417198,8.100296
tt1226837,0,0,0,1,0,0,0,1,0,0,...,0,0,3.707658,3.521041,14.436876,15.423022,0.088599,0.131922,8.251516,7.760294
tt1727824,0,0,0,1,0,0,0,1,0,0,...,0,0,3.526638,3.294327,15.164450,16.638821,0.256041,0.259875,7.957804,7.625148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9716970,0,0,0,1,0,0,1,1,0,0,...,0,0,4.022315,4.206925,19.784572,21.446962,0.282833,0.253159,8.680857,8.222748
tt9726500,0,0,0,1,0,0,1,0,1,0,...,0,0,5.506070,4.886176,12.558150,13.038996,0.200427,0.273791,7.887869,8.407982
tt9752158,0,0,0,1,0,0,0,1,0,0,...,0,0,4.392389,3.750549,14.208922,14.747982,0.182051,0.227870,7.672287,7.462269
tt9767986,0,0,0,1,0,0,1,0,0,0,...,0,0,3.762930,3.524694,17.204004,17.833261,0.320404,0.282091,8.674615,7.994762
tt9782778,0,0,0,1,0,0,1,0,0,0,...,0,0,4.819777,4.200610,15.403187,16.095065,0.206077,0.210649,8.154934,7.853550

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943

Comedy

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,3.920703,3.894741,17.228564,17.976183,0.350184,0.297793,8.738028,8.113222
tt10550990,0,0,0,0,1,0,0,1,0,0,...,0,0,3.553090,3.671527,15.867739,16.255873,0.269699,0.319558,8.137478,7.747009
tt1255919,0,0,0,0,1,1,0,0,0,0,...,0,0,3.646798,3.475201,13.664039,14.297107,0.168755,0.212638,7.915446,7.417706
tt1319706,0,0,0,0,1,0,0,1,1,0,...,0,0,4.450464,4.768523,16.349509,16.434173,0.460839,0.193279,8.857065,7.723407
tt2570500,0,1,0,0,1,0,0,1,0,0,...,0,0,4.276666,3.957838,13.121096,13.580401,0.218695,0.243078,8.626591,7.965721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9609886,0,0,0,0,1,0,0,0,0,0,...,0,0,3.575098,3.129252,17.924984,19.485152,0.245861,0.287311,8.793977,8.159085
tt9615856,0,0,0,1,1,0,0,0,0,0,...,0,0,4.217343,3.659545,15.148576,15.466895,0.206537,0.208547,8.342214,7.699017
tt9702912,0,0,0,0,1,0,0,0,0,0,...,0,0,4.271847,4.228754,14.947455,15.794789,0.187771,0.185170,7.625856,7.743420
tt9716728,0,0,0,0,1,0,0,0,0,0,...,0,0,3.510834,3.273251,16.788040,17.720645,0.286445,0.297614,8.160379,7.668460
tt9826798,0,0,0,0,1,0,1,1,0,0,...,0,0,4.486120,3.639084,18.206009,18.361744,0.233152,0.253689,8.816312,7.673638

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314

Crime

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10212512,0,0,0,0,0,1,0,0,0,0,...,0,0,3.423339,3.014926,15.319522,16.906553,0.196869,0.249766,7.879831,7.904264
tt10465998,1,0,0,0,0,1,0,1,0,0,...,0,0,3.567205,3.143975,14.358293,14.900155,0.355078,0.309862,8.470831,7.972266
tt1255919,0,0,0,0,1,1,0,0,0,0,...,0,0,3.646798,3.475201,13.664039,14.297107,0.168755,0.212638,7.915446,7.417706
tt1759744,0,0,0,1,0,1,0,1,0,0,...,0,0,3.672168,3.475084,14.844621,16.059865,0.244937,0.289024,8.209487,8.020152
tt2647424,0,0,0,0,0,1,0,1,0,0,...,0,0,3.876621,3.880451,16.567069,17.139177,0.204977,0.228663,8.433055,7.830511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9447662,1,0,0,0,0,1,0,0,0,0,...,0,0,3.615743,3.240490,17.124654,17.549507,0.286292,0.292168,8.516418,7.948075
tt9450410,0,0,0,0,0,1,1,0,0,0,...,0,0,3.724354,3.768645,14.019420,15.370255,0.235136,0.290048,7.577449,7.636492
tt9641092,0,0,0,0,0,1,0,1,0,0,...,0,0,3.781126,3.964916,15.657342,17.392727,0.214483,0.186561,8.162717,7.344322
tt9647330,0,0,1,0,0,1,0,1,0,0,...,0,0,3.558970,3.266421,16.813610,18.101548,0.293329,0.301497,8.865996,7.962349
tt9816364,0,0,0,0,0,1,1,1,0,0,...,0,0,4.665559,4.104161,13.106026,13.947628,0.297269,0.381017,8.471114,8.258620

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791

Documentary

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt9363072,0,0,0,0,0,0,1,0,1,0,...,0,0,3.941582,3.969690,17.581833,18.894940,0.375913,0.300830,8.782861,8.229111
tt9363466,0,0,0,0,0,0,1,0,0,0,...,0,0,5.346087,5.350443,15.689320,16.330355,0.202599,0.262626,8.389647,8.103695
tt9374320,0,0,0,1,0,0,1,0,0,0,...,0,0,3.665349,3.319402,14.934807,16.131764,0.184388,0.229583,7.991924,7.759362
tt9375212,0,0,0,0,0,0,1,0,0,0,...,0,0,5.103670,4.389171,14.214326,15.079650,0.179480,0.231592,8.729820,7.733897
tt9377262,0,0,0,0,0,0,1,0,0,0,...,0,0,4.279440,3.972538,6.548045,7.607232,0.330248,0.328931,8.790953,8.257247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9826830,0,0,0,0,0,0,1,0,0,0,...,0,0,3.971566,3.787184,14.075146,15.144757,0.309450,0.302198,7.746964,7.753484
tt9839624,0,0,0,0,0,0,1,0,0,0,...,0,0,4.439706,4.624288,14.305463,15.102047,0.236320,0.229066,8.035375,7.529758
tt9848240,0,0,0,0,0,0,1,0,0,0,...,0,0,3.662199,3.389023,14.650799,15.139095,0.237703,0.248584,8.150935,7.388259
tt9879080,0,0,0,0,0,0,1,0,0,0,...,0,0,4.426478,3.947812,14.387161,14.694599,0.058649,0.080815,7.524463,7.256423
tt9891764,0,0,0,0,0,0,1,0,0,0,...,0,0,3.487894,2.994688,15.839656,16.387069,0.243142,0.287351,8.387383,7.987073

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.428539,2.795572,4.455772,4.798377,0.058649,0.080815,6.806532,6.428935
32,NaN,7.018939,6.822788,19.784572,21.446962,0.473350,0.381433,9.057837,8.407982
33,NaN,4.191119,4.012491,15.308351,16.040259,0.253057,0.259864,8.303507,7.824406
34,NaN,0.671201,0.718932,2.408187,2.421885,0.085482,0.055004,0.457748,0.364231

Drama

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt0328810,0,0,0,0,0,0,0,1,1,0,...,0,0,4.308438,4.351987,15.820982,15.725770,0.336424,0.335943,9.025204,8.446634
tt10017502,0,0,0,0,0,0,0,1,0,0,...,0,0,3.464816,2.680851,14.985025,15.618921,0.268349,0.325218,8.206244,7.652673
tt10043732,0,0,0,1,0,0,0,1,0,0,...,0,0,3.729799,3.344649,15.602536,16.654683,0.315923,0.330436,8.339235,8.113956
tt10048096,0,0,0,0,0,0,0,1,0,1,...,0,0,3.349202,3.322474,16.273237,16.918459,0.296425,0.314294,8.349771,7.793370
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,3.920703,3.894741,17.228564,17.976183,0.350184,0.297793,8.738028,8.113222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9816364,0,0,0,0,0,1,1,1,0,0,...,0,0,4.665559,4.104161,13.106026,13.947628,0.297269,0.381017,8.471114,8.258620
tt9818154,0,0,0,0,0,0,0,1,0,0,...,0,0,4.214242,3.735096,15.881505,16.288091,0.365815,0.301265,8.833857,8.460143
tt9826798,0,0,0,0,1,0,1,1,0,0,...,0,0,4.486120,3.639084,18.206009,18.361744,0.233152,0.253689,8.816312,7.673638
tt9829092,0,0,0,0,0,0,0,1,0,0,...,0,0,3.577158,3.932135,16.483079,18.076813,0.309962,0.293208,8.517249,8.028188
tt9908448,0,0,0,0,0,0,0,1,0,1,...,0,0,6.395262,5.822214,10.743290,10.981376,0.323718,0.228877,7.923228,6.496641

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.428539,2.795572,4.455772,4.798377,0.058649,0.080815,6.806532,6.428935
32,NaN,7.018939,6.822788,19.784572,21.446962,0.473350,0.381433,9.057837,8.407982
33,NaN,4.191119,4.012491,15.308351,16.040259,0.253057,0.259864,8.303507,7.824406
34,NaN,0.671201,0.718932,2.408187,2.421885,0.085482,0.055004,0.457748,0.364231
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,3.149883,2.379946,-9.273800,-9.273800,0.029433,0.049375,5.399940,5.881059
37,NaN,6.989730,7.494895,19.784572,21.446962,0.754928,0.395896,9.249759,8.569857
38,NaN,3.975318,3.809098,15.057429,15.908179,0.258746,0.262246,8.254604,7.845486
39,NaN,0.537185,0.692941,2.487128,2.511725,0.104549,0.060228,0.417667,0.297170

Family

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt0328810,0,0,0,0,0,0,0,1,1,0,...,0,0,4.308438,4.351987,15.820982,15.725770,0.336424,0.335943,9.025204,8.446634
tt1319706,0,0,0,0,1,0,0,1,1,0,...,0,0,4.450464,4.768523,16.349509,16.434173,0.460839,0.193279,8.857065,7.723407
tt2319991,0,0,0,0,0,0,0,1,1,0,...,0,0,3.600623,3.255132,15.845659,17.144170,0.449660,0.301768,8.241504,7.721504
tt2728784,0,0,0,0,0,0,0,1,1,0,...,0,0,3.511316,3.240403,15.267480,17.108621,0.150899,0.212020,7.937130,7.774069
tt2990140,0,1,0,0,1,0,0,0,1,0,...,0,0,3.547814,3.519373,14.130094,15.256661,0.207771,0.257430,7.565624,7.150721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9543936,0,0,0,0,0,0,0,0,1,0,...,0,0,4.417333,4.079410,13.982745,14.195198,0.140307,0.204330,8.161568,7.544367
tt9580316,0,1,0,0,0,0,1,0,1,0,...,0,0,4.608379,4.531794,17.479612,18.107356,0.235364,0.279990,8.842203,8.065188
tt9642920,0,0,0,0,0,0,0,1,1,0,...,0,0,3.729799,3.344649,15.602536,16.654683,0.315923,0.330436,8.339235,8.113956
tt9658782,0,0,0,0,0,0,0,0,1,0,...,0,0,4.150113,3.841420,16.225788,16.795559,0.268844,0.328104,8.596491,8.176101
tt9726500,0,0,0,1,0,0,1,0,1,0,...,0,0,5.506070,4.886176,12.558150,13.038996,0.200427,0.273791,7.887869,8.407982

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.428539,2.795572,4.455772,4.798377,0.058649,0.080815,6.806532,6.428935
32,NaN,7.018939,6.822788,19.784572,21.446962,0.473350,0.381433,9.057837,8.407982
33,NaN,4.191119,4.012491,15.308351,16.040259,0.253057,0.259864,8.303507,7.824406
34,NaN,0.671201,0.718932,2.408187,2.421885,0.085482,0.055004,0.457748,0.364231
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,3.149883,2.379946,-9.273800,-9.273800,0.029433,0.049375,5.399940,5.881059
37,NaN,6.989730,7.494895,19.784572,21.446962,0.754928,0.395896,9.249759,8.569857
38,NaN,3.975318,3.809098,15.057429,15.908179,0.258746,0.262246,8.254604,7.845486
39,NaN,0.537185,0.692941,2.487128,2.511725,0.104549,0.060228,0.417667,0.297170
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,3.208121,2.382702,3.481610,4.369184,0.069083,0.084330,7.565624,7.150721
42,NaN,5.506070,5.500846,19.398209,20.318371,0.596151,0.398379,9.025204,8.446634
43,NaN,3.927766,3.659992,15.945486,16.624692,0.269328,0.267145,8.417644,7.832754
44,NaN,0.490180,0.637450,2.131699,2.139274,0.104138,0.062088,0.339518,0.246020

Fantasy

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10048096,0,0,0,0,0,0,0,1,0,1,...,0,0,3.349202,3.322474,16.273237,16.918459,0.296425,0.314294,8.349771,7.793370
tt10160782,0,0,0,0,0,0,0,0,0,1,...,0,0,3.282002,2.706272,14.623674,15.196395,0.223602,0.245359,7.404598,7.059826
tt10782442,0,0,0,0,0,0,0,0,0,1,...,0,0,3.703925,4.020803,13.305533,14.332189,0.191459,0.254346,7.439046,7.557919
tt10933674,0,0,0,0,0,0,0,0,0,1,...,0,0,3.891820,4.031354,12.605351,13.657379,0.062440,0.135537,7.749390,7.709955
tt1458902,0,0,0,0,0,0,0,1,0,1,...,0,0,4.424181,4.678541,13.402520,14.486848,0.137427,0.167403,7.352740,7.037739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9569732,0,0,0,0,0,0,0,0,0,1,...,0,0,4.381536,4.250596,16.800233,17.874892,0.538257,0.310155,8.388566,7.924299
tt9598232,0,0,0,0,0,0,0,0,0,1,...,0,0,3.423339,3.014926,15.319522,16.906553,0.196869,0.249766,7.879831,7.904264
tt9737258,1,0,1,0,0,0,0,0,0,1,...,0,0,3.494485,3.554998,17.523644,18.038690,0.286480,0.324978,8.886382,8.353948
tt9816310,0,0,0,0,0,0,0,0,0,1,...,0,0,3.889131,3.649315,17.087628,18.261586,0.239049,0.231837,8.259118,8.238864
tt9908448,0,0,0,0,0,0,0,1,0,1,...,0,0,6.395262,5.822214,10.743290,10.981376,0.323718,0.228877,7.923228,6.496641

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.428539,2.795572,4.455772,4.798377,0.058649,0.080815,6.806532,6.428935
32,NaN,7.018939,6.822788,19.784572,21.446962,0.473350,0.381433,9.057837,8.407982
33,NaN,4.191119,4.012491,15.308351,16.040259,0.253057,0.259864,8.303507,7.824406
34,NaN,0.671201,0.718932,2.408187,2.421885,0.085482,0.055004,0.457748,0.364231
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,3.149883,2.379946,-9.273800,-9.273800,0.029433,0.049375,5.399940,5.881059
37,NaN,6.989730,7.494895,19.784572,21.446962,0.754928,0.395896,9.249759,8.569857
38,NaN,3.975318,3.809098,15.057429,15.908179,0.258746,0.262246,8.254604,7.845486
39,NaN,0.537185,0.692941,2.487128,2.511725,0.104549,0.060228,0.417667,0.297170
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,3.208121,2.382702,3.481610,4.369184,0.069083,0.084330,7.565624,7.150721
42,NaN,5.506070,5.500846,19.398209,20.318371,0.596151,0.398379,9.025204,8.446634
43,NaN,3.927766,3.659992,15.945486,16.624692,0.269328,0.267145,8.417644,7.832754
44,NaN,0.490180,0.637450,2.131699,2.139274,0.104138,0.062088,0.339518,0.246020
45,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,3.282002,2.379946,1.273427,1.816640,0.058706,0.084330,6.899655,6.496641
47,NaN,6.395262,6.129344,19.500375,21.121614,0.545173,0.364193,9.107223,8.429408
48,NaN,4.011515,3.856741,14.704358,15.578443,0.252141,0.250077,8.143764,7.804230
49,NaN,0.567868,0.733355,2.989340,3.011348,0.106347,0.058045,0.472549,0.331729

History

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10178206,0,1,0,0,0,0,0,0,0,0,...,0,0,4.607833,4.332873,11.964923,13.271047,0.056414,0.075460,7.221706,7.523231
tt10322976,0,0,0,0,0,0,0,0,0,0,...,0,0,4.031650,3.917509,13.777855,14.871955,0.272857,0.305739,8.055569,7.770098
tt10550990,0,0,0,0,1,0,0,1,0,0,...,0,0,3.553090,3.671527,15.867739,16.255873,0.269699,0.319558,8.137478,7.747009
tt2328900,0,0,0,1,0,0,0,1,0,0,...,0,0,3.596506,3.347908,14.480875,15.278145,0.218978,0.277998,8.123025,7.917855
tt2777020,0,0,0,0,0,0,0,1,0,0,...,1,0,4.043051,3.845385,16.039497,17.147956,0.214056,0.249729,8.222841,8.046805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9641244,0,0,0,0,0,0,1,0,0,0,...,0,0,4.733036,4.822296,15.189794,15.636541,0.206376,0.212914,8.564458,8.184213
tt9647642,0,0,0,0,0,0,0,0,0,0,...,0,0,3.679310,3.296314,15.835690,16.354635,0.208676,0.239703,8.378719,7.941816
tt9670284,1,1,0,0,0,0,0,0,0,0,...,0,0,3.895313,3.628642,12.366782,13.463931,0.346679,0.299096,8.111159,7.851316
tt9689618,0,0,0,1,0,0,1,0,0,0,...,0,0,3.759584,3.684847,14.983473,15.644748,0.224963,0.262876,8.210737,7.834248
tt9752158,0,0,0,1,0,0,0,1,0,0,...,0,0,4.392389,3.750549,14.208922,14.747982,0.182051,0.227870,7.672287,7.462269

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.428539,2.795572,4.455772,4.798377,0.058649,0.080815,6.806532,6.428935
32,NaN,7.018939,6.822788,19.784572,21.446962,0.473350,0.381433,9.057837,8.407982
33,NaN,4.191119,4.012491,15.308351,16.040259,0.253057,0.259864,8.303507,7.824406
34,NaN,0.671201,0.718932,2.408187,2.421885,0.085482,0.055004,0.457748,0.364231
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,3.149883,2.379946,-9.273800,-9.273800,0.029433,0.049375,5.399940,5.881059
37,NaN,6.989730,7.494895,19.784572,21.446962,0.754928,0.395896,9.249759,8.569857
38,NaN,3.975318,3.809098,15.057429,15.908179,0.258746,0.262246,8.254604,7.845486
39,NaN,0.537185,0.692941,2.487128,2.511725,0.104549,0.060228,0.417667,0.297170
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,3.208121,2.382702,3.481610,4.369184,0.069083,0.084330,7.565624,7.150721
42,NaN,5.506070,5.500846,19.398209,20.318371,0.596151,0.398379,9.025204,8.446634
43,NaN,3.927766,3.659992,15.945486,16.624692,0.269328,0.267145,8.417644,7.832754
44,NaN,0.490180,0.637450,2.131699,2.139274,0.104138,0.062088,0.339518,0.246020
45,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,3.282002,2.379946,1.273427,1.816640,0.058706,0.084330,6.899655,6.496641
47,NaN,6.395262,6.129344,19.500375,21.121614,0.545173,0.364193,9.107223,8.429408
48,NaN,4.011515,3.856741,14.704358,15.578443,0.252141,0.250077,8.143764,7.804230
49,NaN,0.567868,0.733355,2.989340,3.011348,0.106347,0.058045,0.472549,0.331729
50,History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,3.297506,2.532384,3.608548,5.025154,0.048586,0.075460,7.221706,7.094579
52,NaN,5.942799,6.130822,19.319175,20.323929,0.728871,0.395896,9.045561,8.324797
53,NaN,4.026152,3.888465,14.307645,15.166122,0.250709,0.260161,8.137956,7.819940
54,NaN,0.544895,0.724712,2.176983,2.223716,0.104822,0.058003,0.390594,0.254340

Horror

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt1780790,0,0,0,0,0,0,0,0,0,0,...,0,0,3.900047,3.858295,13.365525,14.167679,0.297179,0.356651,7.847608,7.976617
tt1842422,0,0,1,0,0,0,0,0,0,1,...,0,0,4.374931,4.442193,18.360702,19.440394,0.209808,0.210584,8.663459,8.120324
tt3211248,1,0,0,0,1,0,0,0,0,0,...,0,0,3.672466,3.693659,11.200108,12.267881,0.071650,0.145525,7.078894,7.030675
tt3410974,0,0,0,0,0,0,0,0,0,0,...,0,0,3.520461,3.109166,15.967592,16.789820,0.220718,0.288461,8.873915,8.268159
tt3526622,0,1,0,0,0,0,0,0,0,0,...,0,0,3.347545,2.615931,15.978428,16.851505,0.259332,0.229756,7.940757,7.776261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9536636,0,0,0,0,0,0,0,0,0,0,...,0,0,4.229096,3.985653,16.078002,17.116874,0.112148,0.122114,7.781180,8.039116
tt9586350,0,0,0,0,0,0,0,0,0,0,...,0,0,4.439959,4.218364,13.422355,14.446885,0.108542,0.209071,7.864931,7.445649
tt9764972,0,0,0,0,0,0,0,0,0,0,...,0,0,4.012065,4.011216,13.765504,14.839728,0.328560,0.231652,7.656509,7.651992
tt9816310,0,0,0,0,0,0,0,0,0,1,...,0,0,3.889131,3.649315,17.087628,18.261586,0.239049,0.231837,8.259118,8.238864
tt9866700,0,0,0,0,0,0,0,0,0,0,...,0,0,4.941889,4.402468,13.849033,14.518005,0.115961,0.170274,8.603843,8.232477

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
5,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,3.259445,2.615931,7.697648,7.832193,0.056414,0.075460,7.221706,7.150721
7,NaN,5.922583,5.597863,20.132259,20.713607,0.596151,0.403412,9.130111,8.569857
8,NaN,3.914192,3.776438,15.812777,16.612835,0.266969,0.267471,8.348860,7.920351
9,NaN,0.470194,0.642124,1.960489,1.976858,0.098909,0.054800,0.394067,0.245652
10,Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3.259023,2.575773,12.404126,13.373164,0.027253,0.032768,6.954075,7.417403
12,NaN,6.211002,5.879677,20.535397,21.208358,0.528914,0.403412,9.173279,8.507770
13,NaN,3.843268,3.625863,17.410596,18.098446,0.277926,0.283399,8.564907,7.997646
14,NaN,0.474285,0.662315,1.814694,1.764134,0.092219,0.054504,0.375224,0.238261
15,Biography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,3.308824,2.379946,4.455772,4.798377,0.088599,0.131922,7.440134,6.984118
17,NaN,7.018939,6.822788,20.708972,22.700452,0.481195,0.381398,9.090598,8.407982
18,NaN,3.967223,3.760289,14.893592,15.783186,0.246347,0.264800,8.214326,7.817992
19,NaN,0.627919,0.727609,2.054494,2.186282,0.081271,0.051355,0.343759,0.259943
20,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,3.149883,2.379946,-4.472795,-3.313421,0.027253,0.032768,6.629289,6.342927
22,NaN,6.707134,6.756044,20.132259,21.121614,0.671748,0.390685,9.081358,8.561905
23,NaN,3.915351,3.690745,15.954221,16.666671,0.260624,0.257777,8.394314,7.853435
24,NaN,0.493389,0.660494,2.472410,2.473411,0.106145,0.062690,0.387208,0.306314
25,Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3.256536,2.615930,-9.273800,-9.273800,0.069890,0.134959,7.010659,6.491483
27,NaN,6.989730,7.494895,19.385121,19.985319,0.569085,0.381017,9.026969,8.389489
28,NaN,3.989729,3.874216,14.917621,15.776006,0.255237,0.259076,8.226848,7.831950
29,NaN,0.579553,0.714110,2.821714,2.898415,0.097223,0.057215,0.409290,0.340791
30,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,3.428539,2.795572,4.455772,4.798377,0.058649,0.080815,6.806532,6.428935
32,NaN,7.018939,6.822788,19.784572,21.446962,0.473350,0.381433,9.057837,8.407982
33,NaN,4.191119,4.012491,15.308351,16.040259,0.253057,0.259864,8.303507,7.824406
34,NaN,0.671201,0.718932,2.408187,2.421885,0.085482,0.055004,0.457748,0.364231
35,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,3.149883,2.379946,-9.273800,-9.273800,0.029433,0.049375,5.399940,5.881059
37,NaN,6.989730,7.494895,19.784572,21.446962,0.754928,0.395896,9.249759,8.569857
38,NaN,3.975318,3.809098,15.057429,15.908179,0.258746,0.262246,8.254604,7.845486
39,NaN,0.537185,0.692941,2.487128,2.511725,0.104549,0.060228,0.417667,0.297170
40,Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,3.208121,2.382702,3.481610,4.369184,0.069083,0.084330,7.565624,7.150721
42,NaN,5.506070,5.500846,19.398209,20.318371,0.596151,0.398379,9.025204,8.446634
43,NaN,3.927766,3.659992,15.945486,16.624692,0.269328,0.267145,8.417644,7.832754
44,NaN,0.490180,0.637450,2.131699,2.139274,0.104138,0.062088,0.339518,0.246020
45,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,3.282002,2.379946,1.273427,1.816640,0.058706,0.084330,6.899655,6.496641
47,NaN,6.395262,6.129344,19.500375,21.121614,0.545173,0.364193,9.107223,8.429408
48,NaN,4.011515,3.856741,14.704358,15.578443,0.252141,0.250077,8.143764,7.804230
49,NaN,0.567868,0.733355,2.989340,3.011348,0.106347,0.058045,0.472549,0.331729
50,History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,3.297506,2.532384,3.608548,5.025154,0.048586,0.075460,7.221706,7.094579
52,NaN,5.942799,6.130822,19.319175,20.323929,0.728871,0.395896,9.045561,8.324797
53,NaN,4.026152,3.888465,14.307645,15.166122,0.250709,0.260161,8.137956,7.819940
54,NaN,0.544895,0.724712,2.176983,2.223716,0.104822,0.058003,0.390594,0.254340
55,Horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,3.123832,2.615931,1.273427,1.816640,0.044414,0.065131,6.856804,6.923453
57,NaN,5.325004,5.592821,20.231602,20.654997,0.555681,0.380986,9.166420,8.561905
58,NaN,4.011557,3.926842,14.773171,15.683541,0.257306,0.257582,8.088185,7.838480
59,NaN,0.425161,0.578054,2.405033,2.378150,0.107219,0.068875,0.486011,0.350041

Music

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10077620,0,1,0,0,1,0,0,1,0,0,...,0,0,3.920703,3.894741,17.228564,17.976183,0.350184,0.297793,8.738028,8.113222
tt10186696,0,0,0,0,0,0,0,0,0,0,...,0,0,3.338487,2.530847,16.179341,16.801290,0.236759,0.269553,8.245733,7.578595
tt10344086,0,0,0,0,0,0,0,0,0,0,...,0,0,4.317488,3.958950,16.216101,16.517276,0.226722,0.283139,8.543688,7.866101
tt10782442,0,0,0,0,0,0,0,0,0,1,...,0,0,3.703925,4.020803,13.305533,14.332189,0.191459,0.254346,7.439046,7.557919
tt10796470,0,0,0,0,0,0,0,0,0,0,...,0,0,4.087220,4.024049,13.766724,14.747491,0.342192,0.284693,8.088398,7.782588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9715914,0,0,0,0,0,0,1,0,0,0,...,0,0,4.041701,4.107842,16.199828,17.117964,0.277688,0.236652,8.302776,7.757571
tt9742652,0,0,0,0,0,0,1,0,0,0,...,0,0,3.651956,3.278884,13.333048,13.754067,0.320469,0.259978,8.258165,7.783987
tt9782778,0,0,0,1,0,0,1,0,0,0,...,0,0,4.819777,4.200610,15.403187,16.095065,0.206077,0.210649,8.154934,7.853550
tt9839624,0,0,0,0,0,0,1,0,0,0,...,0,0,4.439706,4.624288,14.305463,15.102047,0.236320,0.229066,8.035375,7.529758
tt9879080,0,0,0,0,0,0,1,0,0,0,...,0,0,4.426478,3.947812,14.387161,14.694599,0.058649,0.080815,7.524463,7.256423

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
60,Music,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,3.176664,2.530847,12.429325,12.977202,0.058649,0.064727,7.033998,6.628660
62,NaN,6.938042,6.543406,19.854296,20.715092,0.463738,0.390685,8.955777,8.446124
63,NaN,4.009263,3.864613,15.794098,16.602133,0.241940,0.249371,8.282730,7.841649
64,NaN,0.592321,0.737943,1.647546,1.682562,0.085685,0.062531,0.370521,0.276008

Mystery

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10178206,0,1,0,0,0,0,0,0,0,0,...,0,0,4.607833,4.332873,11.964923,13.271047,0.056414,0.075460,7.221706,7.523231
tt10541096,0,0,0,0,0,0,0,1,0,0,...,0,0,3.556576,3.033264,15.168928,15.972890,0.213080,0.250892,8.201690,8.033453
tt10782442,0,0,0,0,0,0,0,0,0,1,...,0,0,3.703925,4.020803,13.305533,14.332189,0.191459,0.254346,7.439046,7.557919
tt1255919,0,0,0,0,1,1,0,0,0,0,...,0,0,3.646798,3.475201,13.664039,14.297107,0.168755,0.212638,7.915446,7.417706
tt2458010,0,0,0,0,0,0,0,1,0,0,...,0,0,3.809649,3.889991,13.118476,13.804513,0.258997,0.298274,7.937557,7.865245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9495224,0,0,0,0,0,0,0,1,0,0,...,0,0,3.649214,3.829454,15.244536,16.027274,0.256583,0.265546,8.316100,7.972548
tt9526818,0,0,0,0,0,0,0,1,0,0,...,0,0,4.192029,3.805168,15.225889,16.431109,0.106808,0.155534,7.708487,7.528210
tt9569584,0,0,0,0,0,0,0,1,0,0,...,0,0,3.551894,3.461714,14.471535,15.457227,0.314601,0.284922,8.347669,8.121821
tt9641092,0,0,0,0,0,1,0,1,0,0,...,0,0,3.781126,3.964916,15.657342,17.392727,0.214483,0.186561,8.162717,7.344322
tt9716728,0,0,0,0,1,0,0,0,0,0,...,0,0,3.510834,3.273251,16.788040,17.720645,0.286445,0.297614,8.160379,7.668460

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
65,Mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,3.361333,2.666035,4.185786,4.259987,0.048586,0.075460,6.606353,6.446130
67,NaN,6.989730,7.494895,19.531859,20.514423,0.518576,0.390936,9.130111,8.717995
68,NaN,4.027323,3.875965,14.728876,15.656703,0.254263,0.257326,8.074141,7.770425
69,NaN,0.577708,0.768479,2.092878,2.147885,0.107781,0.063320,0.460298,0.347436

Romance

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10233502,0,0,0,0,0,0,0,1,0,0,...,1,0,4.443958,4.619636,13.697617,14.464582,0.093877,0.094924,7.996569,7.800774
tt1235187,0,0,0,0,0,0,0,1,0,0,...,1,0,3.717450,3.600031,14.478711,16.263849,0.218231,0.290517,7.913818,7.651563
tt1319706,0,0,0,0,1,0,0,1,1,0,...,0,0,4.450464,4.768523,16.349509,16.434173,0.460839,0.193279,8.857065,7.723407
tt1517451,0,0,0,0,0,0,0,1,0,0,...,0,0,3.885187,3.750664,15.277752,16.128174,0.299950,0.289451,8.247787,7.979397
tt2574538,0,0,0,0,0,0,0,0,0,0,...,0,0,4.279548,4.185203,14.658457,15.335812,0.195214,0.247597,8.388333,7.941477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9319530,0,0,0,0,0,1,0,1,0,0,...,0,0,3.893180,3.569974,15.903061,17.086715,0.204754,0.266228,8.607614,7.961798
tt9412678,0,0,0,0,1,0,0,1,0,0,...,0,0,3.986335,3.582187,13.080952,13.285100,0.171081,0.132562,7.546209,6.523920
tt9615856,0,0,0,1,1,0,0,0,0,0,...,0,0,4.217343,3.659545,15.148576,15.466895,0.206537,0.208547,8.342214,7.699017
tt9699064,0,0,0,0,0,0,0,1,0,0,...,0,0,3.729799,3.344649,15.602536,16.654683,0.315923,0.330436,8.339235,8.113956
tt9716728,0,0,0,0,1,0,0,0,0,0,...,0,0,3.510834,3.273251,16.788040,17.720645,0.286445,0.297614,8.160379,7.668460

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
70,Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,3.214868,2.616649,-4.472795,-3.313421,0.054901,0.078955,5.399940,5.881059
72,NaN,6.076208,6.094322,19.723498,20.545311,0.528986,0.394291,9.249759,8.385949
73,NaN,3.974305,3.786616,15.323092,16.131778,0.261003,0.263797,8.306287,7.825952
74,NaN,0.492480,0.677865,2.934734,2.900660,0.093822,0.061174,0.501987,0.339489

Sci-Fi

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10017502,0,0,0,0,0,0,0,1,0,0,...,0,0,3.464816,2.680851,14.985025,15.618921,0.268349,0.325218,8.206244,7.652673
tt1458902,0,0,0,0,0,0,0,1,0,1,...,0,0,4.424181,4.678541,13.402520,14.486848,0.137427,0.167403,7.352740,7.037739
tt1477834,1,1,0,0,0,0,0,0,0,1,...,0,0,3.600911,3.187002,15.710004,16.675256,0.383423,0.314480,8.269662,7.850330
tt1571234,1,1,0,0,0,0,0,0,0,1,...,0,0,3.555348,2.860569,15.642713,17.484646,0.281595,0.241968,7.950582,8.006928
tt1780790,0,0,0,0,0,0,0,0,0,0,...,0,0,3.900047,3.858295,13.365525,14.167679,0.297179,0.356651,7.847608,7.976617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9442046,0,0,0,0,0,0,0,0,0,0,...,0,0,3.900417,4.182853,17.529891,17.868605,0.250462,0.283551,8.818022,8.187223
tt9495224,0,0,0,0,0,0,0,1,0,0,...,0,0,3.649214,3.829454,15.244536,16.027274,0.256583,0.265546,8.316100,7.972548
tt9497146,1,0,1,0,0,0,0,0,0,0,...,0,0,3.259023,2.575773,17.904294,18.796537,0.325671,0.326201,8.679966,8.192259
tt9586350,0,0,0,0,0,0,0,0,0,0,...,0,0,4.439959,4.218364,13.422355,14.446885,0.108542,0.209071,7.864931,7.445649
tt9816310,0,0,0,0,0,0,0,0,0,1,...,0,0,3.889131,3.649315,17.087628,18.261586,0.239049,0.231837,8.259118,8.238864

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
75,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,3.149883,2.564621,-0.746867,0.919236,0.029433,0.049375,6.856804,6.923453
77,NaN,5.172487,5.308536,20.116661,20.713607,0.496340,0.403412,9.249759,8.528388
78,NaN,3.931185,3.783400,14.736107,15.623479,0.253812,0.259683,8.172569,7.855097
79,NaN,0.442943,0.648368,2.969432,2.936796,0.099575,0.066446,0.495849,0.375294

Sport

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10160782,0,0,0,0,0,0,0,0,0,1,...,0,0,3.282002,2.706272,14.623674,15.196395,0.223602,0.245359,7.404598,7.059826
tt10443766,0,0,0,0,0,0,0,0,0,0,...,0,0,3.399977,3.154858,19.068139,19.595150,0.409440,0.357606,9.050344,7.990609
tt10758262,0,0,0,0,0,0,0,0,0,0,...,0,0,4.295962,4.211449,17.172033,18.197384,0.292297,0.225343,8.984364,8.195306
tt2258058,0,0,0,0,0,0,0,1,0,0,...,0,0,3.823707,3.127627,14.753632,15.639821,0.166986,0.174369,8.190380,7.914062
tt3201736,0,0,0,0,0,0,0,1,0,0,...,0,0,3.599328,3.623108,14.812972,15.479992,0.257771,0.295323,8.324222,7.522019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9484580,0,0,0,0,0,0,1,0,0,0,...,0,0,4.162274,3.781622,17.387076,18.314976,0.467456,0.381433,8.671992,8.023815
tt9534772,1,0,0,0,0,0,0,0,0,0,...,0,0,4.020072,4.711616,19.989292,20.448692,0.390535,0.314528,8.900798,8.059305
tt9609266,0,0,0,0,0,0,0,0,0,0,...,0,0,4.414473,4.227158,17.080269,17.539767,0.502616,0.292922,8.999686,8.166898
tt9662736,0,0,0,0,0,0,0,0,0,0,...,0,0,3.389843,3.191806,17.957863,18.926956,0.397502,0.270295,8.384845,7.759087
tt9767986,0,0,0,1,0,0,1,0,0,0,...,0,0,3.762930,3.524694,17.204004,17.833261,0.320404,0.282091,8.674615,7.994762

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
80,Sport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,3.208121,2.382702,12.546609,13.355985,0.100135,0.151298,7.404598,7.059826
82,NaN,5.576382,5.072385,19.989292,21.442452,0.564019,0.398379,9.050344,8.227404
83,NaN,3.787462,3.530758,16.348056,17.098410,0.307143,0.282415,8.450636,7.825679
84,NaN,0.433850,0.589029,1.577724,1.586489,0.093829,0.053318,0.352308,0.239826

Thriller

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10212512,0,0,0,0,0,1,0,0,0,0,...,0,0,3.423339,3.014926,15.319522,16.906553,0.196869,0.249766,7.879831,7.904264
tt10541096,0,0,0,0,0,0,0,1,0,0,...,0,0,3.556576,3.033264,15.168928,15.972890,0.213080,0.250892,8.201690,8.033453
tt10693740,1,0,0,0,0,0,0,0,0,0,...,0,0,3.507294,3.021602,15.100169,15.783220,0.325492,0.274640,7.912423,7.541808
tt1780790,0,0,0,0,0,0,0,0,0,0,...,0,0,3.900047,3.858295,13.365525,14.167679,0.297179,0.356651,7.847608,7.976617
tt1826956,1,0,0,0,0,0,0,1,0,0,...,1,0,3.391573,2.860924,13.028640,14.157005,0.475215,0.356627,8.447780,8.105415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9464032,0,0,0,0,0,0,0,0,0,1,...,0,0,3.494366,3.029528,15.048214,16.259853,0.291776,0.259367,7.993327,7.788137
tt9479454,1,0,0,0,0,0,0,0,0,0,...,0,0,3.830338,3.964216,16.436094,17.209511,0.276133,0.260155,8.465923,7.931776
tt9569584,0,0,0,0,0,0,0,1,0,0,...,0,0,3.551894,3.461714,14.471535,15.457227,0.314601,0.284922,8.347669,8.121821
tt9818154,0,0,0,0,0,0,0,1,0,0,...,0,0,4.214242,3.735096,15.881505,16.288091,0.365815,0.301265,8.833857,8.460143
tt9866700,0,0,0,0,0,0,0,0,0,0,...,0,0,4.941889,4.402468,13.849033,14.518005,0.115961,0.170274,8.603843,8.232477

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
85,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,3.332825,2.500130,-9.273800,-9.273800,0.068768,0.108457,6.606353,6.446130
87,NaN,6.915723,5.655062,19.531859,20.514423,0.555681,0.390936,8.964151,8.717995
88,NaN,3.966075,3.820687,14.500655,15.389871,0.267155,0.272411,8.161024,7.861858
89,NaN,0.531089,0.663280,2.893902,2.986322,0.101068,0.058974,0.482028,0.340783

War

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10233502,0,0,0,0,0,0,0,1,0,0,...,1,0,4.443958,4.619636,13.697617,14.464582,0.093877,0.094924,7.996569,7.800774
tt10505100,1,1,0,0,0,0,0,1,0,0,...,1,0,3.264128,3.353004,14.363613,15.951490,0.302386,0.300653,8.453287,8.279962
tt1235187,0,0,0,0,0,0,0,1,0,0,...,1,0,3.717450,3.600031,14.478711,16.263849,0.218231,0.290517,7.913818,7.651563
tt1826956,1,0,0,0,0,0,0,1,0,0,...,1,0,3.391573,2.860924,13.028640,14.157005,0.475215,0.356627,8.447780,8.105415
tt2368254,0,0,0,1,0,0,0,1,0,0,...,1,0,3.529352,3.360400,14.251311,15.079582,0.324802,0.344173,8.595962,8.165588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9415552,1,0,0,0,0,0,0,1,0,0,...,1,0,3.719807,3.649287,15.815646,17.039063,0.285038,0.279843,8.409512,8.158274
tt9418304,0,0,0,0,0,0,1,0,0,0,...,1,0,4.021945,4.175436,13.443217,14.290295,0.379750,0.338366,8.471590,7.904200
tt9490150,0,0,0,0,0,0,0,0,0,0,...,1,0,4.169982,3.989221,15.331926,16.014431,0.346418,0.298711,8.257389,7.933115
tt9614898,0,0,0,0,0,0,0,1,0,0,...,1,0,4.079038,3.974231,12.988265,13.963949,0.248254,0.283317,8.415814,8.231101
tt9904014,0,0,0,0,0,0,0,0,0,0,...,1,0,4.687189,4.298575,12.841054,13.330432,0.339983,0.243896,7.993096,7.750461

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
90,War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,3.264128,2.701526,7.423445,7.725945,0.075773,0.094924,7.349007,6.703424
92,NaN,6.927558,6.792344,19.287988,19.797011,0.633094,0.395896,8.952492,8.361169
93,NaN,4.010876,3.889590,14.440150,15.392275,0.279246,0.276581,8.179613,7.855015
94,NaN,0.537324,0.664946,1.831769,1.885328,0.099612,0.055875,0.376871,0.299123

Western

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,War,Western,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
Movie,,,,,,,,,,,,,,,,,,,,,
tt10298956,0,0,0,0,0,0,0,0,0,0,...,0,1,4.240298,4.244349,14.054476,14.741924,0.171531,0.278020,8.188458,7.986737
tt10637886,0,0,0,0,0,0,0,0,0,0,...,0,1,4.758964,4.904291,13.445917,13.904767,0.332452,0.304377,7.752031,7.523229
tt1648190,1,1,0,0,0,0,0,0,0,1,...,0,1,3.564668,3.406372,14.887758,16.321847,0.298720,0.297805,8.089780,7.996683
tt1680140,1,1,0,0,0,0,0,1,0,0,...,0,1,3.877909,4.052468,14.789780,16.554616,0.185784,0.225507,7.976515,8.058144
tt2226440,1,0,0,0,0,0,0,0,0,0,...,0,1,3.745350,3.882867,14.899220,15.528688,0.451017,0.309241,8.729001,8.203617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt8908288,0,0,0,0,0,0,0,0,0,0,...,0,1,3.702302,3.929394,16.175975,16.614695,0.208367,0.228852,8.407317,7.943835
tt8924518,1,1,0,0,0,0,0,0,0,0,...,0,1,4.529009,4.532309,7.697648,7.832193,0.315424,0.252038,8.626476,8.100016
tt9198440,0,0,0,0,0,0,0,0,0,0,...,0,1,5.372381,5.340370,15.302430,15.683638,0.417402,0.262718,8.205515,7.985010
tt9430524,0,0,0,0,1,0,0,1,0,0,...,0,1,3.720892,3.295857,16.588827,17.449584,0.199818,0.269691,8.838232,7.857377
tt9616622,0,0,0,0,0,0,0,0,0,0,...,0,1,4.057821,3.828779,13.757586,14.547466,0.213638,0.215061,8.006012,7.800652

,0,A_avg,A_std,B_avg,B_std,C_avg,C_std,D_avg,D_std
0,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.214656,2.382702,7.697648,7.832193,0.068732,0.089546,7.078894,6.703424
2,NaN,6.989730,7.494895,20.116661,20.713607,0.754928,0.403412,9.091380,8.717995
3,NaN,3.859479,3.682674,15.494818,16.377815,0.295526,0.278873,8.327582,7.920064
4,NaN,0.488719,0.682626,2.034302,2.019701,0.096228,0.055451,0.404289,0.293164
...,...,...,...,...,...,...,...,...,...
95,Western,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,3.381058,2.650869,-7.968370,-7.508639,0.046684,0.069180,7.094320,7.115575
97,NaN,5.742545,6.277040,19.981733,21.404579,0.573343,0.389743,9.079628,8.569857
98,NaN,4.013659,3.875562,14.463600,15.291315,0.245419,0.257774,8.225992,7.902552
99,NaN,0.483613,0.707721,2.906979,3.027313,0.106706,0.064558,0.356510,0.268535